@model CatalogPagingFilteringModel.StateProvinceFilterModel
@using Nop.Web.Models.Catalog;

@if (Model.Enabled)
{
    if (Model.NotFilteredItems != null && Model.NotFilteredItems.Count > 0)
    {
        <ul class="product-filters">
            <div class="filter-title">@T("Filtering.StateProvinceFilter")</div>

            @foreach (var item in Model.NotFilteredItems)
            {
                <li><a href="@item.FilterUrl" for="StateProvince" rel="nofollow"><span class="namefil">@item.Name</span> <span class="fil_cant">@item.NumOfProducts</span></a></li>
            }
            @if (Model.NotFilteredItems.Count > Model.MaxNumberOptionsToShow)
            {
                <a href="javascript:;" class="qcat-more-filters" rel="nofollow"><b>@T("Filtering.MoreOptions")</b> <span class="icon-down"></span></a>
            }
        </ul>
    }
}
