@model CatalogPagingFilteringModel.SpecificationFilterModel
@using Nop.Web.Models.Catalog;
@{
    var notFilteredItemsGroups = Model.NotFilteredItems.GroupBy(x => x.Name);
}
@if (Model.Enabled)
{

    if (Model.NotFilteredItems.Count > 0)
    {
        <div class="available-items">
            @foreach (var group in notFilteredItemsGroups)
            {
                var groupList = group.ToList();
                        
                <ul class="product-filters">
                    <div class="filter-title">@groupList[0].Name</div>

                    @foreach (var spec in groupList)
                    {
                        <li><a href="@spec.FilterUrl" rel="nofollow"><span class="namefil">@spec.SpecificationAttributeOptionName</span> <span class="fil_cant">@spec.NumOfProducts</span></a></li>
                    }
                    @if (groupList.Count > Model.MaxNumberOptionsToShow)
                    {
                        <a href="javascript:;" class="qcat-more-filters"><b>@T("Filtering.MoreOptions")</b> <span class="icon-down"></span></a>
                    }

                </ul>

            }
        </div>
    }

}