@model CategoriesHomePageModel
@using Nop.Web.Models.Catalog
@{
    Layout = null;
    
}

@if (!Model.IsMobileDevice)
{
    <div class="conte_categories">
        <h3 class="title">@T("Homepage.Categories")</h3>
        @for (int i = 0; i < Model.NumColumns; i++)
        {
            //var parent = Model.Categories.ElementAt(i);
            <div class="col_category">
                @foreach (var parent in Model.Categories.Where(c => c.Column == i + 1))
                {
                    <ul class="box_category">
                        <h4 class="tit_category"><span><img class="img-cat" src="@parent.PictureModel.ImageUrl" /></span><a href="@Url.Action("Category", "Catalog", new { seName = parent.SeName })">@parent.Name</a><br /></h4>
                        @foreach (var children in parent.ChildrenCategories)
                        {
                            <li><a href="@Url.Action("Category", "Catalog", new { seName = children.SeName })">@children.Name</a></li>
                        }
                    </ul>
                }


            </div>
        }
        <br />
    </div>
}
else
{
    <div class="conte_categories">
        <h3 class="title">@T("Homepage.Categories")</h3>
        @foreach (var category in Model.Categories)
        {
            <h4 class="tit_category_m"><span><img class="img-cat" src="@category.PictureModel.ImageUrl" /></span><a href="@Url.Action("Category", "Catalog", new { seName = category.SeName })">@category.Name</a><i class="icon-mas"></i><br /></h4>
            <ul class="box_category_m">
                @foreach (var children in category.ChildrenCategories)
                {
                    <li><a href="@Url.Action("Category", "Catalog", new { seName = children.SeName })">@children.Name</a></li>
                }
            </ul>
        }
    </div>
}

