@model Nop.Web.Models.Catalog.ManufacturerHomePageModel
@{
    Layout = null;
}

@if (Model.Enable)
{ 
    <ul class="conte_marcas">
        @foreach (var manufacturer in Model.Manufacturers)
        {
            <li>
                <a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })" title="@manufacturer.PictureModel.Title">
                    <img alt="@manufacturer.PictureModel.AlternateText" src="@manufacturer.PictureModel.ImageUrl" title="@manufacturer.PictureModel.Title" />
                </a>
            </li>
        }
        <br />
    </ul>
}
