@model SearchBoxModel
@using Nop.Web.Models.Catalog;

@using (Html.BeginForm("Search", "Catalog", new { query = string.Empty }, FormMethod.Get))
{
    <div id="divSearchText" class="responsiveSearch">
        <input type="text" class="search-box-text" id="small-searchterms" autocomplete="off" name="q" placeholder="@T("Search.SearchBox.Tooltip")" data-url="@(Url.RouteUrl("ProductSearchAutoComplete"))" data-minlength="@(Model.SearchTermMinimumLength.ToString())" value="@Model.CurrentSearchTerms" />
        <a class="closeSearchResponsive"><span class="icon-close"></span></a>
    </div>

    @Html.Widget("searchbox_before_search_button")
    
    <select id="selSearchType">
        <option id="0">Productos</option>
        <option id="1">Almacenes y Talleres</option>
    </select>
    
    <a href="javascript:;" type="submit" class="btn_search responsiveSearch"><span class="icon-lupa"></span></a>
    <input id="Search_EnterSearchTerms" value="@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Search.EnterSearchTerms").Text))" type="hidden" />

    @Html.Widget("searchbox")
}