@using Nop.Web.Models.Catalog
@model SelectFeaturedAttributesByPlanModel
@{
    Html.AddTitleParts(T("PageTitle.SelectFeaturedAttributesByPlan").Text);
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}






@if (Model.HasReachedLimitOfProducts)
{
    <div class="alert-public"><span class="icon-alert"></span> <p>@T("SelectFeaturedAttributesByPlan.HasReachedLimitOfProducts", Model.NumLimitOfProducts)</p> @Html.ActionLink(T("SelectFeaturedAttributesByPlan.SelectPlan").Text, "SelectPlan", "Sales", new { id = Model.ProductDetails.Id, force = "true", limit = Model.NumLimitOfProducts }, new { @class = "btn_extra" })<br /></div>
}
@if (Model.HasReachedLimitOfFeature)
{
    <div class="alert-public"><span class="icon-alert"></span> <p>@T("SelectFeaturedAttributesByPlan.HasReachedLimitOfFeature")</p> @Html.ActionLink(T("SelectFeaturedAttributesByPlan.SelectPlan").Text, "SelectPlan", "Sales", new { id = Model.ProductDetails.Id, force = "true", limit = Model.NumLimitOfProducts }, new { @class = "btn_extra" })<br /></div>
}
@using (Html.BeginForm())
{
    <div class="product-public">
        <div class="content-public">
            <div class="imgPublicada">
                @if (Model.ProductDetails.DefaultPictureModel != null)
                {
                    <img src="@Model.ProductDetails.DefaultPictureModel.FullSizeImageUrl" />
                }
            </div>
            <div class="resumen-final">
                <div class="resumen-product">
                    <div class="title">@T("featuredProduct.ProductInformationTitle")</div>
                    <p><b>@T("publishproduct.producttitle"):</b>  @Model.ProductDetails.Name</p>
                    <p><b>@T("myorders.price"):</b>  @(Model.ProductDetails.ProductPrice.CallForPrice ? T("Products.CallForPrice").Text : Model.ProductDetails.ProductPrice.Price)</p>

                    @if (Model.ProductDetails.Manufacturers.Count > 0)
                    {
                        <p><b>@T("publishproduct.manufacturer"):</b>  @Model.ProductDetails.Manufacturers.FirstOrDefault().Name</p>
                    }

                    @*<p><b>Realiza Envíos/Domicilios:</b>  No</p>*@
                        @*<p><b>@T("myproducts.availableenddate"):</b>  @Model.ProductDetails.AvailableEndDate.ToShortDateString()</p>*@
                    </div>

                    <div class="resumen-product">
                        <div class="title">@T("SelectFeaturedAttributesByPlan.ChooseOne")</div>
                        <p>
                            @if (Model.SelectOnHome || Model.NumProductsOnHomeLeft > 0)
                            {
                                @Html.CheckBoxFor(m => m.SelectOnHome)
                            }
                            else
                            {
                                <input type="checkbox" disabled="disabled">
                            }

                            @T("SelectFeaturedAttributesByPlan.SelectOnHome") <span class="rest-plan">(@Model.NumProductsOnHomeLeft de @Model.NumProductsOnHomeByPlan disponible)</span>
                        </p>

                        <p>
                            @if (Model.SelectOnSliders || Model.NumProductsOnSlidersLeft > 0)
                            {
                                @Html.CheckBoxFor(m => m.SelectOnSliders)
                            }
                            else
                            {
                                <input type="checkbox" disabled="disabled">
                            }
                            @T("SelectFeaturedAttributesByPlan.SelectOnSliders") <span class="rest-plan">(@Model.NumProductsOnSlidersLeft de @Model.NumProductsOnSlidersByPlan disponible)</span>
                        </p>
                        <p>
                            @if (Model.SelectOnSocialNetworks || Model.NumProductsOnSocialNetworksLeft > 0)
                            {
                                @Html.CheckBoxFor(m => m.SelectOnSocialNetworks)
                            }
                            else
                            {
                                <input type="checkbox" disabled="disabled">
                            }
                            @T("SelectFeaturedAttributesByPlan.SelectOnSocialNetworks") <span class="rest-plan">(@Model.NumProductsOnSocialNetworksLeft de @Model.NumProductsOnSocialNetworksByPlan disponible)</span>
                        </p>
                    </div>

                </div>

                <div class="conte_btnDoble">
                    @if (!Model.HideFeatureButton)
                    {
                        <input type="submit" value="@T("SelectFeaturedAttributesByPlan.Save")" class="btn_continue button-1" />
                    }
                    

                    @if (Model.ShowFinishPublishingButton)
                    { 
                        @Html.ActionLink(T("common.continue").Text, "ConfirmationWithoutPlan", "Sales", new { id = Model.ProductDetails.Id }, new { @class = "btn_continue button-1" })
                    }
                    else
                    { 
                        @Html.ActionLink(T("common.cancel").Text, "MyProducts", "ControlPanel", new {  }, new { @class = "btn_continue button-1 btnBack" })
                    }


                    @if (Model.ShowGoToMyProductsButton)
                    {
                        @Html.ActionLink(T("SelectFeaturedAttributesByPlan.gotoMyProducts").Text, "MyProducts", "ControlPanel", new { @class = "link_back" })
                    }
                    <br/>
                </div>
                <br />

            </div>
        </div>
}