@model IList<VendorModel>
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";


    Html.AddTitleParts(T("PageTitle.Vendors").Text);
}
@using Nop.Web.Models.Catalog;
<div class="page vendor-list-page">
    <div class="page-title">
        <h1>@T("Vendors.List")</h1>
    </div>
    <div class="page-body">
        @if (Model.Count > 0)
        {

            foreach (var vendor in Model)
            {
                <div class="item-tienda">
                    <a href="@Url.RouteUrl("Vendor", new { seName = vendor.SeName })">
                        <img alt="@vendor.Name" title="@vendor.Name" src="@vendor.Picture.ImageUrl" width="120" height="120" />
                    </a>
                    <p>@vendor.Name</p>
                    <a class="btn_tienda" href="@Url.RouteUrl("Vendor", new { seName = vendor.SeName })">Ir a tienda</a>
                </div>
            }

        }
    </div>
</div>
