@model IList<VendorModel>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";


    Html.AddTitleParts(T("PageTitle.Vendors").Text);
}
@using Nop.Web.Models.Catalog;
<div class="page vendor-list-page">
    <div class="all_vendor">
        <h2>@T("Vendors.List")</h2>
        <div class="txt_allvendor">Aqui encontraras las mejores ofertas para tu moto no dejes pasar esta gran oportunidad.</div>
        @if (Model.Count > 0)
        {

            foreach (var vendor in Model)
            {
                <div class="box_vendor">
                    <a href="@Url.RouteUrl("Vendor", new { seName = vendor.SeName })">
                        <img alt="@vendor.Name" title="@vendor.Name" src="@vendor.Picture.ImageUrl" />
                    </a>
                    <p>
                        <a href="@Url.RouteUrl("Vendor", new { seName = vendor.SeName })">@vendor.Name</a> 
                           @if (vendor.Offices != null && vendor.Offices.Count > 0) { <i>@vendor.Offices.FirstOrDefault().StateProvinceName</i>
                        }
                        </p>
                        <a class="btn_tienda" href="@Url.RouteUrl("Vendor", new { seName = vendor.SeName })">Ir a @(vendor.VendorSubType== Nop.Core.Domain.Vendors.VendorSubType.Store ? "Tienda" : "Taller" )</a>
                    </div>
            }

        }
        <br />
    </div>
</div>
