@model VendorsHomePageModel
@using Nop.Web.Models.Catalog
@{
    Layout = null;
}
<div class="conte_categories">
    <h3 class="title">@T("Homepage.Vendors")</h3>
    @foreach (var vendor in Model.Vendors)
    {
        <div class="product-item">
            <div class="picture">
                <a href="@Url.RouteUrl("Vendor", new { seName = vendor.SeName })" title="@vendor.Name">
                    <img alt="@vendor.Name" src="@vendor.Picture.ImageUrl " width="200" height="200" />
                </a>
            </div>
            <div class="details">
                <h3 class="product-title">
                    <a href="@Url.RouteUrl("Vendor", new { seName = vendor.SeName })">@vendor.Name</a>
                </h3>
                <div class="description">
                    @Html.Raw(vendor.Description)
                </div>
            </div>
        </div>
    }
</div>
