@{
    
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(T("PageTitle.Home").Text);
}
@*added*@
@section slider {
    @*@Html.Widget("home_page_top")*@
}
@*@added*@
<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")
        @*@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })*@
        @Html.Action("ManufacturerHomePage", "Catalog")
        <div class="conte_categories">
            <h3 class="title">CATEGORIAS</h3>
            <div class="col_category">
                <ul>
                    <h4 class="tit_category"><span class="icon-moto"></span><a href="javascript:;">MOTOS</a><br/></h4>
                    <li><a href="javascript:;">Chopper</a></li>
                    <li><a href="javascript:;">De calle</a></li>
                    <li><a href="javascript:;">Deportivas</a></li>
                    <li><a href="javascript:;">Enduro</a></li>
                    <li><a href="javascript:;">Scooter</a></li>
                    <li><a href="javascript:;">Turismo</a></li>
                </ul>
                <ul>
                    <h4 class="tit_category"><span class="icon-moto"></span><a href="javascript:;">PARA MUJERES</a><br/></h4>
                    <li><a href="javascript:;">Cascos</a></li>
                    <li><a href="javascript:;">Chaquetas</a></li>
                    <li><a href="javascript:;">Botas</a></li>
                    <li><a href="javascript:;">Pantalones</a></li>
                </ul>
                <ul>
                    <h4 class="tit_category"><span class="icon-moto"></span><a href="javascript:;">REGALOS</a><br/></h4>
                    <li><a href="javascript:;">Coleccionables</a></li>
                    <li><a href="javascript:;">DVDs</a></li>
                    <li><a href="javascript:;">Jugeutes - Replicas</a></li>
                    <li><a href="javascript:;">Libros</a></li>
                </ul>
            </div>
            <div class="col_category">
                <ul>
                    <h4 class="tit_category"><span></span><a href="javascript:;">EQUIPAMIENTO</a><br/></h4>
                    <li><a href="javascript:;">Chaquetas</a></li>
                    <li><a href="javascript:;">Botas</a></li>
                    <li><a href="javascript:;">Guantes</a></li>
                    <li><a href="javascript:;">Impermeables</a></li>
                    <li><a href="javascript:;">Morrales</a></li>
                    <li><a href="javascript:;">Pantalones</a></li>
                    <li><a href="javascript:;">Rodilleras</a></li>
                    <li><a href="javascript:;">Cascos</a></li>
                </ul>
                <ul>
                    <h4 class="tit_category"><span></span><a href="javascript:;">LUBRICANTES</a><br/></h4>
                    <li><a href="javascript:;">Aceites</a></li>
                    <li><a href="javascript:;">Liquidos de frenos</a></li>
                    <li><a href="javascript:;">Refrijerante</a></li>
                </ul>
            </div>
            <div class="col_category">
                <ul>
                    <h4 class="tit_category"><span></span><a href="javascript:;">REPUESTOS</a><br/></h4>
                    <li><a href="javascript:;">Parrillas</a></li>
                    <li><a href="javascript:;">Protectores de motor</a></li>
                    <li><a href="javascript:;">Sliders</a></li>
                    <li><a href="javascript:;">Frenos</a></li>
                    <li><a href="javascript:;">Llantas</a></li>
                    <li><a href="javascript:;">Bujias</a></li>
                    <li><a href="javascript:;">Carenajes</a></li>
                    <li><a href="javascript:;">Luces</a></li>
                    <li><a href="javascript:;">Rodamientos</a></li>
                    <li><a href="javascript:;">Manilares</a></li>
                    <li><a href="javascript:;">Manubrios</a></li>
                    <li><a href="javascript:;">Filtros</a></li>
                </ul>
                <ul>
                    <h4 class="tit_category"><span></span><a href="javascript:;">SERVICIOS</a><br/></h4>
                    <li><a href="javascript:;">Electronica y Electricidad</a></li>
                    <li><a href="javascript:;">Instalación de accesorios</a></li>
                    <li><a href="javascript:;">Latonería</a></li>
                    <li><a href="javascript:;">Mecanica</a></li>
                    <li><a href="javascript:;">Pintura</a></li>
                </ul>
            </div>
            <div class="col_category">
                <ul>
                    <h4 class="tit_category"><span></span><a href="javascript:;">CASCOS</a><br/></h4>
                    <li><a href="javascript:;">Abatibles</a></li>
                    <li><a href="javascript:;">Accesorios para cascos</a></li>
                    <li><a href="javascript:;">Clasicos</a></li>
                    <li><a href="javascript:;">Integrales</a></li>
                    <li><a href="javascript:;">Jet</a></li>
                    <li><a href="javascript:;">OffRoad</a></li>
                    <li><a href="javascript:;">Replicas</a></li>
                    <li><a href="javascript:;">Repuestos de Cascos</a></li>
                    <li><a href="javascript:;">Trail</a></li>
                </ul>
                <ul>
                    <h4 class="tit_category"><span></span><a href="javascript:;">ACCESORIOS</a><br/></h4>
                    <li><a href="javascript:;">Alforjas</a></li>
                    <li><a href="javascript:;">Pijamas</a></li>
                    <li><a href="javascript:;">GPS</a></li>
                    <li><a href="javascript:;">Intercomunicadores</a></li>
                    <li><a href="javascript:;">Maletas</a></li>
                    <li><a href="javascript:;">Maleteros</a></li>
                </ul>
            </div>
            <br/>
        </div>
        @*@Html.Action("HomepageCategories", "Catalog")*@
        @Html.Action("HomepageProducts", "Product")
        @Html.Action("ProductsForMyBike", "Product")
        @*@Html.Action("HomepageBestSellers", "Product")*@
        @*@Html.Action("HomePageNews", "News")*@
        @*@Html.Action("HomePagePolls", "Poll")*@
        @*@Html.Widget("home_page_bottom")*@
        @Html.Action("SimilarSearches", "Catalog")
    </div>
</div>
