@{
    
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(T("PageTitle.Home").Text);
    
}
@Html.Partial("_OpenGraph", "Url_OG_ImageHome")
@*added*@
@section slider {
    @*@Html.Widget("home_page_top")*@
}
@*@added*@
<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")
        @*@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })*@
        @Html.Action("ManufacturerHomePage", "Catalog")
        @Html.Action("CategoriesHomePage", "Catalog")
        @*fin para moviles categorias*@
        @*@Html.Action("HomepageCategories", "Catalog")*@
        @Html.Action("HomepageProducts", "Product")
        @Html.Action("ProductsForMyBike", "Product")
        @*@Html.Action("HomepageBestSellers", "Product")*@
        @*@Html.Action("HomePageNews", "News")*@
        @*@Html.Action("HomePagePolls", "Poll")*@
        @*@Html.Widget("home_page_bottom")*@
        @Html.Action("SimilarSearches", "Catalog")
    </div>
</div>