@{
    Layout = null;
}
@model Nop.Plugin.Payments.PayUExternal.Models.PaymentResponseModel

<div class="conte_planConfirm">
    <div class="img_mjs">
        <span class="icon-manos"></span>
    </div>
    <div class="plan-confirm">
        <h2>@T("Plugins.PayUExternal.PaymentResponse.SuccessPlan")</h2>
        <h4>@Model.SelectedPlanName</h4>
        <ul>
            <li>@T("Plugins.PayUExternal.PaymentResponse.ReferenceCode"): <b>@Model.ReferenceCode </b></li>
            <li>@T("Plugins.PayUExternal.PaymentResponse.ReferencePayUCode"):<b>@Model.ReferencePayUCode</b></li>
            <li>@T("Plugins.PayUExternal.PaymentResponse.State"): @Model.State</li>
            <li>@T("Plugins.PayUExternal.PaymentResponse.TransactionDate"): @Model.TransactionDate</li>
            @*<li>Dirección: Calle 30 b sur # 8a - 13</li>*@
        </ul>
        <div class="conte_btn">
           @if (Model.RedirectToFeatureProduct)
           {
                @Html.ActionLink(T("myproducts.featureByProduct").Text, "SelectFeaturedAttributesByPlan", "Catalog", new { id = Model.ProductId, orderId = Model.OrderId, sign = Model.RedirectToFeaturedKey, from = "publish" }, new { @class = "btn_continue button-1" })
           }
           
            @Html.ActionLink(T("controlpanel.MyProducts").Text, "MyProducts", "ControlPanel", new { }, new { @class = "button-1 left" })
        </div>
    </div>
    <br />
</div>