@{
    Layout = null;
}
@model Nop.Plugin.Payments.PayUExternal.Models.ConfigurationModel
<div>
    @using (Html.BeginForm())
    {

        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(m => m.MerchantId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(m => m.MerchantId)
                    @Html.ValidationMessageFor(m => m.MerchantId)
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(m => m.AccountId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(m => m.AccountId)
                    @Html.ValidationMessageFor(m => m.AccountId)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(m => m.ApiKey):
                </td>
                <td class="adminData">
                    @Html.EditorFor(m => m.ApiKey)
                    @Html.ValidationMessageFor(m => m.ApiKey)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(m => m.ResponseUrl):
                </td>
                <td class="adminData">
                    @Html.EditorFor(m => m.ResponseUrl)
                    @Html.ValidationMessageFor(m => m.ResponseUrl)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(m => m.ConfirmationUrl):
                </td>
                <td class="adminData">
                    @Html.EditorFor(m => m.ConfirmationUrl)
                    @Html.ValidationMessageFor(m => m.ConfirmationUrl)
                </td>

            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(m => m.UrlPayment):
                </td>
                <td class="adminData">
                    @Html.EditorFor(m => m.UrlPayment)
                    @Html.ValidationMessageFor(m => m.UrlPayment)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
                </td>
            </tr>
        </table>

    }
</div>
