@{
    Html.AddTitleParts(T("PageTitle.ResponsePayment").Text);
    Layout = null;
}
@model Nop.Plugin.Payments.PayUExternal.Models.PaymentResponseModel


<div class="product-public">
    <div class="content-public">

        @if (!Model.TransactionRejected)
        {

            if (Model.ProductId > 0)
            {
                <div class="imgPublicada">
                    <img src="@Model.ProductImageUrl" />
                </div>
                <div class="resumen-final">
                    <div class="resumen-plan">
                        <div class="tit_res">@T("Plugins.PayUExternal.PaymentResponse.Success")</div>
                        <h4>@Model.SelectedPlanName <div class="price_plan">@Model.TransactionValue @Model.Currency</div></h4>
                        <ul>
                            <li>@T("Plugins.PayUExternal.PaymentResponse.ReferenceCode"): <b>@Model.ReferenceCode </b></li>
                            <li>@T("Plugins.PayUExternal.PaymentResponse.ReferencePayUCode"):<b>@Model.ReferencePayUCode</b></li>
                            <li>@T("Plugins.PayUExternal.PaymentResponse.State"): @Model.State</li>
                            <li>@T("Plugins.PayUExternal.PaymentResponse.TransactionDate"): @Model.TransactionDate</li>
                        </ul>
                    </div>

                    @if (Model.IsFeaturedProduct)
                    {
                        <h2>@T(string.Concat("PublishProduct.PublishFinished", Model.VendorType))</h2>
                        <h3>@Model.ProductName</h3>
                        <h4>@Model.ProductPrice</h4>
                        <p>@T("publishproduct.timeToActivate")</p>

                        @Html.ActionLink(T("controlpanel.MyProducts").Text, "MyProducts", "ControlPanel", new { p=false }, new { @class = "btn_continue button-1" })
                    }
                    //else if (!Model.TransactionRejected)
                    else
                    {
                        @Html.ActionLink(T("Plugins.PayUExternal.PaymentResponse.PublishProduct").Text, "Index", "Sales", new { @class = "btn_continue button-1" })
                    }



                    @if (Model.RedirectToFeatureProduct)
                    {
                        @Html.ActionLink(T("myproducts.featureByProduct").Text, "SelectFeaturedAttributesByPlan", "Catalog", new { id = Model.ProductId, orderId = Model.OrderId, sign = Model.RedirectToFeaturedKey, from = "publish" }, new { @class = "btn_continue button-1" })
                    }



                </div>
            }
            else
            { 
                /**Plantilla que contiene la respuesta cuando no se selecciona un producto al momento de comprar el plan **/
                @Html.Partial("~/Plugins/Payments.PayUExternal/Views/PayUExternal/_PaymentResponseOnlyPlan.cshtml", Model)
            }


        }
        else
        {
            @Html.Partial("~/Plugins/Payments.PayUExternal/Views/PayUExternal/_PaymentResponseError.cshtml", Model)
        }



        

        <br />
    </div>
</div>