@{
    Html.AddTitleParts(T("PageTitle.ResponsePayment").Text);
    Layout = null;
}
@model Nop.Plugin.Payments.PayUExternal.Models.PaymentResponseModel
<div>
   <div>@T("Plugins.PayUExternal.PaymentResponse.SelectedPlanName"): @Model.SelectedPlanName</div>
    
    <div>@T("Plugins.PayUExternal.PaymentResponse.ReferenceCode"): @Model.ReferenceCode</div>
    <div>@T("Plugins.PayUExternal.PaymentResponse.ReferencePayUCode"): @Model.ReferencePayUCode</div>
    <div>@T("Plugins.PayUExternal.PaymentResponse.State"): @Model.State</div>
    <div>@T("Plugins.PayUExternal.PaymentResponse.TransactionValue"): @Model.TransactionValue</div>
    <div>@T("Plugins.PayUExternal.PaymentResponse.Currency"): @Model.Currency</div>
    <div>@T("Plugins.PayUExternal.PaymentResponse.TransactionDate"): @Model.TransactionDate</div>

    @if (Model.IsFeaturedProduct)
    {
        <div>@T("Plugins.PayUExternal.PaymentResponse.ProductName"): @Model.ProductName</div>
    }
    else if (!Model.TransactionRejected)
    { 
        @Html.ActionLink(T("Plugins.PayUExternal.PaymentResponse.PublishProduct").Text, "Index", "Sales")
    }
    

    
    
    @if (Model.TransactionRejected)
    { 
        @Html.ActionLink("Intenar con otro medio de pago", "SelectPlan", "Sales", new { id = Model.ProductId }, new { })
    }
    
    @if (Model.RedirectToFeatureProduct)
    { 
        @Html.ActionLink("IR A DESTACAR PRODUCTO", "SelectFeaturedAttributesByPlan", "Catalog", new { id = Model.ProductId, orderId = Model.OrderId, sign = Model.RedirectToFeaturedKey, from = "publish" }, new { })
    }

</div>
