@model Nop.Web.Models.ControlPanel.ControlPanelModel
@{
    Layout = "~/Views/Shared/_PanelLayoutOne.cshtml";
    Html.AddTitleParts(T("PageTitle.ControlPanel").Text);
}


<div class="panel-control">
    <h2 class="tit_sec tit_name">@T("controlpanelindex.greeting", Model.Customer.FullName)</h2>
    @*<div class="cant_art">
        @T("controlpanelindex.publishedproducts") <span><i>@Model.PublishedProducts</i></span>
    </div>*@
    <br />
    <h3 class="welcome_panel">
        @T(string.Format("controlpanelindex.greeting.complement{0}", Model.VendorType != Nop.Core.Domain.Vendors.VendorType.User ? ".shop" : string.Empty))
    </h3>
    @*@T("controlpanelindex.description")*@

    @if (!Html.IsMobile(false))
    {
        <ul class="items-ctl">

            @*<li>@T("controlpanelindex.SoldProducts")<span><b>@Model.SoldProducts</b></span></li>
            <li>@T("controlpanelindex.NumRatings")<span><b>@Model.NumRatings</b></span></li>
            <li>@T("controlpanelindex.AvgRating")<span><b>@Model.AvgRating</b></span></li>*@
            <li>@T("controlpanelindex.publishedproducts")<span><b>@Model.PublishedProducts </b></span></li>
            <li>@T("controlpanelindex.NewMessages")<span><b>@Html.ActionLink(Model.UnansweredQuestions.ToString(), "Questions", "ControlPanel") </b></span></li>
            @*<li>@T("controlpanelindex.PendingMessages")<span><b>@Model.PendingMessages</b></span></li>*@
            <br>
        </ul>
    }
    



    <ul class="panel-items">

        @foreach (var option in Model.Modules)
        {
            <a href="@Url.Action(option.Action, option.Controller, option.Parameters)">
                <li>
                    <span class="@option.IconBig"></span>@T(string.Format("controlpanel.{0}", option.Name))
                </li>

            </a>
        }
        <br />
    </ul>




</div>
