@model MyOrdersModel
@using Nop.Web.Models.ControlPanel
@{
    Html.AddTitleParts(T("PageTitle.MyOrders").Text);
    Layout = "~/Views/Shared/_PanelLayoutTwo.cshtml";
}

<h2 class="tit_sec">@T("MyOrders.Title")</h2>
<p>@T("MyOrders.Description")</p>
<div class="help_table"><span></span><p>Visualizar tabla horizontalmente</p><br></div>
<div class="conte_sale">



    
    @*@if (Model.Orders.Count > 0)
    { 
        <div class="table-header">
            <div class="td-img">img</div>
            <div class="td-pdt">@T("MyOrders.Product")</div>
            <div class="td-vend">@T("MyOrders.Status")</div>
            <div class="td-cal">@T("MyOrders.Rating") / @T("MyOrders.Date")</div>
            <div class="td-prec">@T("MyOrders.Price")</div>
            <br />
        </div>
    }*@

    @if (Model.ShowCurrentPlan)
    {

        if (Model.CurrentPlan.ShowRenovateButton)
        {
            <div class="alert-public"><span class="icon-alert"></span> <p>@T("MyOrders.SoonPlanWillExpire", Model.CurrentPlan.NumDaysToExpirePlan)</p>@Html.ActionLink(T("MyOrders.RenovatePlanNow").Text, "SelectPlanVendor", "Sales", new { }, new { @class = "btn-azul" })<br /></div>
        }



        <li>
            <div class="td-pdt">
                <p>@Model.CurrentPlan.Order.Product.Name</p>
                <ul>
                    <li>
                        @T("SelectFeaturedAttributesByPlan.SelectOnHome")
                        <b>
                            Puede coger @Model.CurrentPlan.NumProductsOnHomeByPlan
                            Quedan (@Model.CurrentPlan.NumProductsOnHomeLeft)
                        </b>
                    </li>
                    <li>
                        @T("SelectFeaturedAttributesByPlan.SelectOnSliders")
                        <b>
                            Puede coger @Model.CurrentPlan.NumProductsOnSlidersByPlan
                            Quedan (@Model.CurrentPlan.NumProductsOnSlidersLeft)
                        </b>
                    </li>
                    <li>
                        @T("SelectFeaturedAttributesByPlan.SelectOnSocialNetworks")
                        <b>
                            Puede coger @Model.CurrentPlan.NumProductsOnSocialNetworksByPlan
                            Quedan (@Model.CurrentPlan.NumProductsOnSocialNetworksLeft)
                        </b>
                    </li>
                </ul>
            </div>
            <div class="td-vend">
                <p>@T("Myorders.Active")</p>
            </div>
            <div class="td-cal">
                <p>
                    @Model.CurrentPlan.Order.PlanStartOnUtc
                    @Model.CurrentPlan.Order.PlanExpirationOnUtc
                </p>
            </div>
            <div class="td-prec">



                @Model.CurrentPlan.Order.Price
                <div class="conte_btn">
                    @if (Model.CurrentPlan.ShowRenovateButton)
                    {
                        @Html.ActionLink(T("MyOrders.RenovatePlan").Text, "SelectPlanVendor", "Sales", new { }, new { @class = "btn-azul" })
                    }

                    @Html.ActionLink(T("MyOrders.UpgradePlan").Text, "SelectPlanVendor", "Sales", new { force = true, limit = Model.CurrentPlan.NumProductsByPlan }, new { @class = "btn-azul" })
                </div>
                
            </div>
            <br />
        </li>
    }
    else
    {
        <div class="alert-public"><span class="icon-alert"></span> <p>@T("MyOrders.BuyAPlan")</p>@Html.ActionLink(T("MyOrders.BuyAPlanButton").Text, "SelectPlanVendor", "Sales", new { }, new { @class = "btn btn-azul" })<br /></div>
    }


    @foreach (var item in Model.Orders)
    {
        <li>
            <div class="td-pdt">
                <p>@item.Product.Name</p>
                <span></span>
            </div>
            <div class="td-vend">
                <p>@item.OrderStatus</p>
                <span>Pago: @item.PaymentStatus</span>
                
            </div>
            <div class="td-cal">
                <p>
                    @item.PlanStartOnUtc
                    @item.PlanExpirationOnUtc
                </p>
            </div>
            <div class="td-prec">@item.Price</div>
            <br />
        </li>

    }

    @Html.Partial("_NoRows", new NoRowsModel() { List = Model.Orders, ResourceMessage = Model.ResorceMessageNoRows, ShowSimilarSearches = true })

    <div class="pager">
        @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
    </div>
 
</div>


