@model MyOrdersModel
@using Nop.Web.Models.ControlPanel
@{
    Html.AddTitleParts(T("PageTitle.MyOrders").Text);
    Layout = "~/Views/Shared/_PanelLayoutTwo.cshtml";
}




<div class="panel-control">
    <h2 class="tit_sec">@T("MyOrders.Title")</h2>
    <p>@T("MyOrders.Description")</p>

    @if (Model.ShowCurrentPlan && Model.CurrentPlan.ShowRenovateButton)
    {
        <div class="alert-public"><span class="icon-alert"></span> <p></p><br /></div>
        <div class="alert-public">
            <span class="icon-alert"></span> <p style="width:auto;">@T("MyOrders.SoonPlanWillExpire", Model.CurrentPlan.NumDaysToExpirePlan)</p>
            @Html.ActionLink(T("MyOrders.RenovatePlanNow").Text, "SelectPlanVendor", "Sales", new { }, new { @class = "btn_extra" })
            <br />
        </div>
    }

    @if (Model.ShowAlertUpgradePlan)
    {
        <div class="alert-public"><span class="icon-alert"></span> <p>@T("MyOrders.BuyAPlan")</p>@Html.ActionLink(T("MyOrders.BuyAPlanButton").Text, "SelectPlanVendor", "Sales", new { }, new { @class = "btn btn-azul" })<br /></div>
    }



    <ul class="list_plan">

        @if (Model.ShowCurrentPlan)
        {

            <li class="plan-actual">
                <div class="plan-detail">
                    <h3>@Model.CurrentPlan.Order.Product.Name</h3>
                    <p>@T("SelectFeaturedAttributesByPlan.SelectOnHome") <b class="rest-plan">@(Model.CurrentPlan.NumProductsOnHomeByPlan - Model.CurrentPlan.NumProductsOnHomeLeft) de @Model.CurrentPlan.NumProductsOnHomeByPlan</b></p>
                    <p>@T("SelectFeaturedAttributesByPlan.SelectOnSliders") <b class="rest-plan">@(Model.CurrentPlan.NumProductsOnHomeByPlan - Model.CurrentPlan.NumProductsOnSlidersLeft) de @Model.CurrentPlan.NumProductsOnHomeByPlan</b></p>
                    <p>@T("SelectFeaturedAttributesByPlan.SelectOnSocialNetworks") <b class="rest-plan">@(Model.CurrentPlan.NumProductsOnSocialNetworksByPlan - Model.CurrentPlan.NumProductsOnSocialNetworksLeft) de @Model.CurrentPlan.NumProductsOnSocialNetworksByPlan</b></p>
                </div>
                <div class="plan-date">
                    <h3>@T("Myorders.Active")</h3>
                    <p>Fecha inicio: @Model.CurrentPlan.Order.PlanStartOnUtc</p>
                    <p>Fecha cierre: @Model.CurrentPlan.Order.PlanExpirationOnUtc</p>
                    <div class="conte_btn">

                        @if (Model.CurrentPlan.ShowRenovateButton)
                        {
                            @Html.ActionLink(T("MyOrders.RenovatePlan").Text, "SelectPlanVendor", "Sales", new { }, new { @class = "btn-naranja" })
                        }

                        @Html.ActionLink(T("MyOrders.UpgradePlan").Text, "SelectPlanVendor", "Sales", new { force = true, limit = Model.CurrentPlan.NumProductsByPlan }, new { @class = "btn-azul" })

                        @*@Model.CurrentPlan.Order.Price*@
                    </div>
                </div>
                <br />
            </li>

        }






        @foreach (var item in Model.Orders)
        {
            if (Model.CurrentPlan.Order != null && item.Id == Model.CurrentPlan.Order.Id)
            {
                continue;
            }






            <li>
                <div class="plan-detail">
                    <h3>@item.Product.Name</h3>
                    <p>Valor: @item.Price</p>
                </div>
                <div class="plan-date">
                    <h3>@item.OrderStatus</h3>
                    @*@item.PaymentStatus*@
                    @*@item.CreatedOn*@
                    <p>Fecha inicio: @item.PlanStartOnUtc</p>
                    <p>Fecha cierre: @item.PlanExpirationOnUtc</p>
                </div>
                <br />
            </li>



        }


    </ul>
    @Html.Partial("_NoRows", new NoRowsModel() { List = Model.Orders, ResourceMessage = Model.ResorceMessageNoRows, ShowSimilarSearches = true })

    <div class="pager">
        @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
    </div>
</div>







@Html.HiddenFor(m => m.VendorId)
<div id="productsViewPopup"></div>
@Html.Partial("_VendorProductsPopup")






















