@model MyProductsModel
           @using Nop.Web.Models.ControlPanel
@{
    Html.AddTitleParts(T("PageTitle.MyProducts").Text);
    Layout = "~/Views/Shared/_PanelLayoutTwo.cshtml";
}



<div class="panel-control">
    <h2 class="tit_sec">@T("MyProducts.Title")</h2>
    <div>
        @Html.ActionLink(T("common.publishProduct").Text, "Index", "Sales", new { }, new { @class = "btn-naranja" })


        Filtrar solo:
        <a href="@Model.UrlFilterByServices.Url" class="@(Model.UrlFilterByServices.Active ? "active" : string.Empty)" title="@T("common.filterByService")">@T("controlpanel.publishproductservice")</a>
        <br />
        <a href="@Model.UrlFilterByProducts.Url" class="@(Model.UrlFilterByProducts.Active ? "active" : string.Empty)" title="@T("common.filterByProduct")">@T("controlpanel.publishproduct")</a>
        <br />
        <a href="@Model.UrlFilterByBikes.Url" class="@(Model.UrlFilterByBikes.Active ? "active" : string.Empty)" title="@T("common.filterByBikes")">@T("controlpanel.publishproductbike")</a>
        <br />

    </div>
    <div class="search-pdt">
        <input type="text" class="searchinput" value="@Model.PagingFilteringContext.q" />
        <a class="btn_search"><span class="icon-mail"></span></a>
    </div>
    <ul class="product_list">

        @foreach (var product in Model.Products)
        {
            <li class="product-detail">
            <div class="product-dtl-img">
                <a href="@(product.Published ? Url.Action("ProductDetails", "Product", new { seName = product.SeName }) : "#")">
                <img title="@product.Name" src="@product.DefaultPictureModel.ImageUrl" alt="@product.Name">
                </a>
            </div>
            <div class="product-dtl-txt">
                <h3><a href="@(product.Published ? Url.Action("ProductDetails", "Product", new { seName = product.SeName }) : "#")">@product.Name</a></h3>
                <ul>
                    <li>@T("myproducts.visits"): @product.Visits</li>
                    <li>@T("myproducts.totalsales"): @product.TotalSales</li>
                    <li>@T("myproducts.ApprovedTotalReviews"): @product.ApprovedTotalReviews</li>
                    @if (product.Published)
                    { 
                        if (product.UnansweredQuestions > 0)
                        { 
                            <li><a href="@Url.Action("Questions", "ControlPanel", new { p = product.Id })">@T("myproducts.UnansweredQuestions"): @product.UnansweredQuestions</a></li>
                        }
                        else
                        { 
                            <li>@T("myproducts.noPendingQuestions")</li>
                        }
                    }
                </ul>
            </div>
            <div class="product-dtl-date">
                <h3>@(product.Published ? T("myproducts.publised") : T("myproducts.nopublised"))</h3>
                <p>@T("myproducts.AvailableStartDate"): @product.AvailableStartDate.ToShortDateString()</p>
                <p>@T("myproducts.AvailableEndDate"): @product.AvailableEndDate.ToShortDateString()</p>

                @if (product.Published)
                { 
                    <div class="conte_btn">
                        @*<a class="btn-azul" href="javascript:;"><span class="icon-mail"></span>Editar</a>*@
                        <a class="btn-naranja" href="@Url.Action("ProductDetails", "Product", new { seName = product.SeName })">@T("myproducts.viewOnline")</a>
                    </div>
                }
            </div>
            <br />
        </li>
        }

    </ul>

    @Html.Partial("_NoRows", new NoRowsModel() { List = Model.Products, ResourceMessage = "NoResults" })

    <div class="pager">
        @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
    </div>
</div>
