@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
    
    var browser = Request.Browser;
    
}
@*@Html.Widget("body_start_html_tag_after")*@
@Html.Partial("_Notifications")
@*@Html.Action("AdminHeaderLinks", "Common")*@
@*added*@
@if ((browser.Browser == "IE" && browser.MajorVersion > 8) || browser.Browser != "IE")
{
    <div>
        <header class="row" role="banner">
            <div class="header-links-wrapper">
                <div class="container hd">
                    @Html.Action("HeaderLinks", "Common")
                    @*@Html.Action("FlyoutShoppingCart", "ShoppingCart")*@
                </div>
            </div>
            <div class="container hd">
                @Html.Partial("Header")

            </div>
            <div class="main-search-box">
                <a class="icon-lupa" href="javascript:;"></a>
            </div>
            @*<div class="header-menu">@Html.Action("TopMenuNavigation", "Catalog")</div>*@
        </header>
    </div>
}


    @*@added*@
    <div class="@(this.ViewData["noWidth"] != null && Convert.ToBoolean(this.ViewData["noWidth"]) ? string.Empty : "master-wrapper-page container hd")">
        @Html.Action("JavaScriptDisabledWarning", "Common")
        <div class="master-wrapper-content">
            @*<script type="text/javascript">
                AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
            </script>*@
            @*edited*@
            @if (browser.Browser == "IE" && browser.MajorVersion < 9)
            {
                @Html.Partial("Header")
                @Html.Widget("content_before")
            }
            @*@Html.Partial("Header")*@
                @*edited*@
                @*<div class="header-menu">
                        @Html.Action("TopMenu", "Catalog")
                    </div>
                    @Html.Widget("content_before")*@
                @*added*@
                @if (IsSectionDefined("ContentSliderSection"))
                {
                    @RenderSection("ContentSliderSection")
                }
                @*added*@
                    @*ajax loading windo
    <div class="ajax-loading-block-window" style="display: none">
        <div class="loading-image">
        </div>
    </div>w*@
            <div class="@(this.ViewData["noWidth"] != null && Convert.ToBoolean(this.ViewData["noWidth"]) ? string.Empty : "master-wrapper-main")">
                @RenderBody()
            </div>
                    @*@Html.Widget("content_after")*@
                </div>
                @*edited*@
                @if (browser.Browser == "IE" && browser.MajorVersion < 9)
                {
                    @Html.Action("Footer", "Common")
                }

                @*@Html.Action("Footer", "Common")*@
                    @*edited*@
                </div>

                @*@Html.Action("EuCookieLaw", "Common")*@
                @*added*@
                @if ((browser.Browser == "IE" && browser.MajorVersion > 8) || browser.Browser != "IE")
                {
                <div>
                    <footer class="row" role="banner">
                        <div class="container hd">
                            @Html.Action("Footer", "Common")
                        </div>
                        <div class="footer_down">
                            @*@added*@
                            <div class="footer-poweredby">
                                Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
                                @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                                    Find more info here http://www.nopcommerce.com/copyrightremoval.aspx*@
                                @*added*@
                                Designed by <a title="nopCommerce themes" href="http://www.n-theme.com/">N-Theme</a>
                                @*@added*@
                            </div>
                            <div class="footer-disclaimer">
                                @*@T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), @Model.StoreName)*@
                                @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), "tuils")
                            </div>
                            @*<div class="footer-store-theme">
                                @Html.Action("StoreThemeSelector", "Common")
                            </div>*@
                            @*@Html.Widget("footer")*@
                        </div>
                    </footer>
                </div>
                }
                @*added*@
                @Html.Widget("body_end_html_tag_before")
