@model ProductDetailsModel
@using Nop.Web.Models.Catalog;

    @*Si el usuario ya compró el producto se muestra el link al vendedor*@
    @if (Model.ShowVendor)
    {
        <div class="product-vendor" itemprop="seller" itemscope itemtype="http://schema.org/Organization" style="display:@(!Model.ProductAlreadyBought ? "none" : string.Empty)">
            <h3>Informaci&oacute;n del vendedor</h3>
            
            @if (Model.VendorModel.VendorType == Nop.Core.Domain.Vendors.VendorType.User)
            {
                <p><span class="label"><span class="icon-tel"></span> @T("Products.Vendor.PhoneNumber"): </span><span class="value tel-vendor">@Model.VendorModel.PhoneNumber</span></p>
            }
            else
            {
                <p><span class="label">@T("Products.Vendor.Shop"): </span><span class="value"><a href="@Url.RouteUrl("Vendor", new { SeName = Model.VendorModel.SeName })" itemprop="name">@Model.VendorModel.Name</a></span></p>
            }
        </div>
    }
