@model ProductDetailsModel
@using Nop.Web.Models.Catalog;

    @*Si el usuario ya compró el producto se muestra el link al vendedor*@
    @if (Model.ShowVendor)
    {
        <div id="phoneHashed" class="phoneHashed">
            <h3>Informaci&oacute;n del vendedor</h3>
            <div>
                <span class="icon-tel"></span>
                @if (!string.IsNullOrEmpty(Model.VendorModel.PhoneNumber) && Model.VendorModel.PhoneNumber.Length > 3)
                { 
                    @(string.Format("XXXXXXX{0}", Model.VendorModel.PhoneNumber.Substring(Model.VendorModel.PhoneNumber.Length - 4, 3)))
                }   
            </div>
        </div>
        <a id="btnShowVendor" data-productid="@Model.Id" data-vendorurl="@Url.RouteUrl("Vendor", new { SeName = Model.VendorModel.SeName, pid = Model.Id })" class="button-2 btn-contact"><span class="icon-tel"></span> @T("Products.SeeVendor")</a>


        <div class="product-vendor" itemprop="seller" itemscope itemtype="http://schema.org/Organization" style="display:@(!Model.ProductAlreadyBought ? "none" : string.Empty)">
            <h3>Informaci&oacute;n del vendedor</h3>
            
            @if (Model.VendorModel.VendorType == Nop.Core.Domain.Vendors.VendorType.Market)
            {
                <p><span class="label"><span class="icon-loc"></span> @T("Products.Vendor.Shop"): </span><span class="value"><a href="@Url.RouteUrl("Vendor", new { SeName = Model.VendorModel.SeName })" itemprop="name">@Model.VendorModel.Name</a></span></p>
            }

            <p><span class="label"><span class="icon-tel"></span> @T("Products.Vendor.PhoneNumber"): </span><span class="value tel-vendor">@Model.VendorModel.PhoneNumber</span></p>


            <a name="add-question" class="button-1 write-product-review-button actionVendor" for="Call" href="tel:@Model.VendorModel.PhoneNumber">@T("Product.Vendor.Call")</a>
            <a name="add-question" class="button-1 write-product-review-button actionVendor" for="Contact" href="#product-questions">@T("Product.Vendor.Email")</a>
            @if (Model.VendorModel.VendorType == Nop.Core.Domain.Vendors.VendorType.Market)
            {
                <a name="add-question" class="button-1 write-product-review-button actionVendor" for="GoMarket" href="@Url.RouteUrl("Vendor", new { SeName = Model.VendorModel.SeName })">Visitar @(Model.VendorModel.VendorSubType == Nop.Core.Domain.Vendors.VendorSubType.Store ? "Almacen" : "Taller")</a>
            }
            

            

        </div>


        if (Model.IsMobileDevice)
        {
            <div id="divVendorInfoResponsive" class="options-container" style="display:none">
                <ul>
                    
                    @if (Model.VendorModel.VendorType == Nop.Core.Domain.Vendors.VendorType.Market)
                    {
                        <li><a href="@Url.RouteUrl("Vendor", new { SeName = Model.VendorModel.SeName })"><i class="icon-tienda"></i> Visitar @Model.VendorModel.Name</a></li>
                    }
                    <li><a  href="#product-questions"><i class="icon-msj"></i> @T("Product.Vendor.AskQuestion")</a></li>
                    <li><a href="tel:@Model.VendorModel.PhoneNumber"><i class="icon-tel"></i> @Model.VendorModel.PhoneNumber</a></li>
                    <li id="btnCancelMoreInfoResp"><a><i class="icon-close"></i> @T("Common.Cancel")</a></li>
                </ul>
            </div>
        }



    }
