@model Nop.Plugin.Widgets.ResponsiveSlider.Models.PublicInfoModel
@{
    Layout = "";
    Html.AddCssFileParts(ResourceLocation.Foot, "~/Plugins/Widgets.ResponsiveSlider/Content/responsiveslides.css");
}
@using System
@using System.Web
@using Nop.Web.Framework.UI
@using System.Collections.Generic;
@helper RenderSliderLine(string pictureThumbUrl, string pictureUrl, string title, string titleEffects, string subTitle, string subTitleEffects, string shortDescr, string shortDescrEffects, string media, string mediaEffects, string slideURL, int slideNumber)
{
    if (!String.IsNullOrEmpty(pictureUrl))
    {
         <li>
            @if (!String.IsNullOrEmpty(pictureUrl) && !String.IsNullOrEmpty(slideURL))
            {
                <a href="@slideURL"><img alt="@title" data-src="@pictureUrl" src="@(slideNumber == 1 ? pictureUrl : string.Empty)" /></a>
            }
            @if (!String.IsNullOrEmpty(pictureUrl) && String.IsNullOrEmpty(slideURL))
            {
                <img alt="@title" data-src="@pictureUrl" src="@(slideNumber == 1 ? pictureUrl : string.Empty)" />
            }
            @Html.Raw(titleEffects)
        </li>    
    }
}
<div class="rslides_container">
    <ul class="rslides">
        @RenderSliderLine(Model.PictureThumb1Url, Model.Picture1Url, Model.TitleText1, Model.TitleTextEffects1, Model.SubTitleText1, Model.SubTitleTextEffects1, Model.Text1, Model.TextEffects1, Model.Media1, Model.MediaEffects1, Model.Link1, 1)
        @RenderSliderLine(Model.PictureThumb2Url, Model.Picture2Url, Model.TitleText2, Model.TitleTextEffects2, Model.SubTitleText2, Model.SubTitleTextEffects2, Model.Text2, Model.TextEffects2, Model.Media2, Model.MediaEffects2, Model.Link2, 2)
        @RenderSliderLine(Model.PictureThumb3Url, Model.Picture3Url, Model.TitleText3, Model.TitleTextEffects3, Model.SubTitleText3, Model.SubTitleTextEffects3, Model.Text3, Model.TextEffects3, Model.Media3, Model.MediaEffects3, Model.Link3, 3)
        @RenderSliderLine(Model.PictureThumb4Url, Model.Picture4Url, Model.TitleText4, Model.TitleTextEffects4, Model.SubTitleText4, Model.SubTitleTextEffects4, Model.Text4, Model.TextEffects4, Model.Media4, Model.MediaEffects4, Model.Link4, 4)
    </ul>
</div>