@model ProductDetailsModel
@using Nop.Core
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Web.Models.Catalog;
@{
    
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    
    var currentThemeName = EngineContext.Current.Resolve<Nop.Web.Framework.Themes.IThemeContext>().WorkingThemeName;
    
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    
    if (seoSettings.OpenGraphMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(storeName) + "\" />");
    }

    
    if (seoSettings.TwitterMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(storeName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
}



<!--product breadcrumb-->
@if (!Model.IsMobileDevice)
{
    @Html.Partial("_ProductBreadcrumb", Model.Breadcrumb);    
}

@Html.Widget("productdetails_after_breadcrumb", Model.Id)
<div id="divMainSection">
    <div class="page product-details-page" itemscope itemtype="http://schema.org/Product">
        <div class="page-body">
            @Html.Widget("productdetails_top", Model.Id)
            @*added*@
            <div class="product-name">
                <h1 itemprop="name">@Model.Name</h1>
                @if (!String.IsNullOrWhiteSpace(Model.StockAvailability))
                {
                    <span class="stock"><b>@T("Products.Availability"):</b> @Model.StockAvailability</span>
                }

            </div>

            <div data-productid="@Model.Id">
                <div class="product-essential">

                    <!--product pictures-->
                    @Html.Partial("_ProductDetailsPictures", Model)

                    <div class="overview">
                        <!--product price-->

                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                            @{
                                var dataDictPrice = new ViewDataDictionary();
                                dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                                @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)
                            }

                            @Html.Partial("_ProductVendor", Model)

                        </div>
                        <!--product reviews-->
                        @Html.Partial("_ProductReviewOverview", Model.ProductReviewOverview)
                        <!--product creditcard-->
                        @Html.Partial("_ProductCreditcard", Model)
                        <!--Información de envío-->
                        @Html.Partial("_ProductShipping", Model)
                        @if (!String.IsNullOrEmpty(Model.FullDescription))
                        {
                            <div class="full-description" itemprop="description">
                                @Html.Raw(Model.FullDescription)
                            </div>
                        }
                        <div class="product-infopluss">
                            <h3>Información adicional</h3>
                            <!--product manufacturers-->
                            @Html.Partial("_ProductSpecialCategories", Model)
                            <!--product manufacturers-->
                            @Html.Partial("_ProductManufacturers", Model.ProductManufacturers)
                            <!--Include Supplies-->
                            @Html.Partial("_ProductSupplies")
                            <!--product SKU, manufacturer part number, stock info-->
                            @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)
                        </div>
                        <!--vendor info-->
                        <!---Muesta el botón de comprar-->
                        @if (!Model.ProductAlreadyBought && Model.IsAvailable)
                        {
                            <input type="button" value="@T("Products.SeeVendor")" id="btnShowVendor" data-productid="@Model.Id" data-vendorurl="@Url.RouteUrl("Vendor", new { SeName = Model.VendorModel.SeName, pid = Model.Id })" class="button-2">
                        }



                        @Html.Partial("_AddToWishlist")



                        @Html.Partial("_CompareProductsButton", Model)
                        @Html.Partial("_ShareButton", Model)

                    </div>

                </div>

            </div>

        </div>
        <br />
    </div>

    <div class="product-collateral">

        <div id="tab-container" class="tab-container">
            <ul class="etabs">
                <li class="tab"><a href="#product-questions">@T("Products.Questions")</a></li>
                <li class="tab" data-name="reviews"><a href="@(Url.Action("ProductReviews", new { productId  = Model.Id })) #product-reviews-page" data-target="#product-reviews-page" alt="@T("custom.reviews.productreviews.Alt")">@T("Custom.Reviews.ProductReviews")</a></li>
            </ul>
            <div class="panel-container">
                <div id="product-questions">
                    @Html.Action("Questions", new { productId = Model.Id })
                </div>
                <div id="product-reviews-page">

                </div>

            </div>
        </div>

        @*@added*@
        @Html.Hidden("ProductId", Model.Id)
        @Html.Partial("_ProductTierPrices", Model.TierPrices)
        @Html.Partial("_ProductTags", Model.ProductTags)
        @Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })
        @Html.Action("RelatedProducts", "Product", new { productId = Model.Id })
        @if (Model.ShowProductsOfVendor)
        { 
            @Html.Action("ProductsSameVendor", "Product", new { id = Model.VendorModel.Id })    
        }
    </div>
</div>
