@model QuestionsModel
@using Nop.Web.Models.Catalog;
@{
    Layout = null;
}
@*edited*@
<div class="page product-questions-page" id="product-questions-page">

    <div class="page-body">
        
        @if (Model.IsAvailable)
        { 
            <div class="write-review" id="question-form" >
                <div class="title">Preguntas al vendedor</div>
                <div class="message-error">@Html.ValidationSummary(true)</div>
                <div class="form-fields">
                    @Html.Label(T("Questions.Write").Text)
                    @Html.TextAreaRequiredFor(model => model.NewQuestion.QuestionText, htmlAttributes: new { @class = "review-text" }, required:false, showLabel:false )
                    @Html.Hidden("productId", Model.ProductId)

                    @if(Model.ShowCaptcha)
                    {
                       <div class="captcha-box">
                         @Html.Raw(Html.GenerateCaptcha())
                       </div> 
                    }
                    
                </div>
                <div class="buttons">
                    <input type="button" name="add-question" class="button-1 write-product-review-button" value="@T("Questions.SubmitButton")" />
                </div>
            
         </div>
        }
        
        <div id="divQuestionPublished" class="quest-Publish" style="display:none">
            <span class="icon-msj"></span>
            <p>@T("Questions.QuestionPublished")</p> 
        </div>

        @if (Model.Questions.Count > 0)
        {
            <br/>
            <div class="product-review-list">
                @*<div class="title">
                        @T("Reviews.ExistingReviews")
                    </div>*@
                @foreach (var question in Model.Questions)
                {
                    <div class="product-review-item">
                        <div class="clear">
                        </div>
                        <div class="question-text">
                            <div class="review-text">
                                <span class="icon-msj"></span>
                                <span class="txt-quest">@Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(question.QuestionText, false, true, false, false, false, false)) <b class="quest-info"> - @T("Questions.Date"): @question.CreatedOnStr</b></span>
                                <br/>
                            </div>

                            @if (!string.IsNullOrEmpty(question.AnswerText))
                            { 
                                <div class="question-resp">
                                    <span class="icon-msj2"></span> 
                                    <span class="txt-quest">@Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(question.AnswerText, false, true, false, false, false, false)) <b class="quest-info"> - @T("Questions.AnsweredDate"): @question.AnsweredOnStr</b></span>
                                    <br/>
                                </div>
                            }
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="no-result">@T("Questions.NoQuestions")</div>
        }

    </div>
</div>
