@{
    Layout = null;
}
<div class="modal registration-modal">

    <form>
        <ul class="tipe-register" id="step1">
            <li>
                <a class="active" href="javascript:;" tuils-action="@Convert.ToInt32(Nop.Core.Domain.Vendors.VendorType.User)">
                    <span class="icon-user"></span>
                    <p>Personas</p>
                </a>
            </li>
            <li>
                <a href="javascript:;" tuils-action="@Convert.ToInt32(Nop.Core.Domain.Vendors.VendorType.Market)">
                    <span class="icon-tienda"></span>
                    <p>Empresas</p>
                </a>
            </li>
        </ul>
        <div class="inputs">
            <input id="txtName" type="text" placeholder="@T("CreateUser.Name") *">
            <span class="field-validation-error" tuils-val-for="Name"></span>
        </div>
        <div class="inputs" style="display:none" tuils-for="company">
            <input id="txtCompanyName" type="text" placeholder="@T("CreateUser.CompanyName") *">
            <span class="field-validation-error" tuils-val-for="CompanyName"></span>
        </div>
        <div class="inputs">
            <input id="txtEmail" type="text" placeholder="@T("CreateUser.Email") *">
            <span class="field-validation-error" tuils-val-for="Email"></span>
        </div>
        <div class="inputs">
            <input id="txtPassword" type="password" placeholder="@T("CreateUser.Password")">
            <span class="field-validation-error" tuils-val-for="Password"></span>
        </div>
        <div class="inputs" tuils-for="user">
            <input id="txtBike" type="text" placeholder="@T("CreateUser.Bike")">
            <span class="field-validation-error" tuils-val-for="Bike"></span>
        </div>
        <div class="inputs" style="display:none" tuils-for="company">
            <input type="radio" value="@Convert.ToInt32(Nop.Core.Domain.Vendors.VendorSubType.Store)" name="rbVendorSubType" /> Almacen
            <input type="radio" value="@Convert.ToInt32(Nop.Core.Domain.Vendors.VendorSubType.RepairShop)" name="rbVendorSubType" /> Taller
            <span class="field-validation-error" tuils-val-for="VendorSubType"></span>
        </div>

        <div class="terminos">
            <span>Con el registro aceptas las <a href="/condiciones-de-uso" target="_blank">condiciones del servicio</a> de Tuils.</span>
        </div>
        <input id="btnCreateUser" type="button" value="@T("CreateUser.Save")" class="button-1 btn_register" />

    </form>
    <div class="external-authentication" tuils-for="user">
        @Html.Action("ExternalMethods", "ExternalAuthentication", new { BlankWindow = true, ReturnUrl = Url.Action("Close", "Home") })
    </div>
    @T("CreateUser.Back.Before") <a id="btnBack" href="javascript:void(0);" >@T("CreateUser.Back")</a>.
</div>

