@{
    Layout = null;
}
<div class="modal registration-modal">

    <form>

        <ul class="tipe-register" id="step1">
            <li>
                <a class="active" href="javascript:;" tuils-action="@Convert.ToInt32(Nop.Core.Domain.Vendors.VendorType.User)">
                    <span class="icon-user"></span>
                    <p>Personal</p>
                </a>
            </li>
            <li>
                <a href="javascript:;" tuils-action="@Convert.ToInt32(Nop.Core.Domain.Vendors.VendorType.Market)">
                    <span class="icon-tienda"></span>
                    <p>Tienda</p>
                </a>
            </li>
            <li class="no-margin">
                <a href="javascript:;" tuils-action="@Convert.ToInt32(Nop.Core.Domain.Vendors.VendorType.RepairShop)">
                    <span class="icon-tool"></span>
                    <p>Taller</p>
                </a>
            </li>
        </ul>
        <div class="inputs">
            <input id="txtName" type="text" placeholder="@T("CreateUser.Name")">
            <span class="field-validation-error" tuils-val-for="Name"></span>
        </div>
        @*<div class="inputs">
                <input id="txtLastName" type="text" placeholder="@T("CreateUser.LastName")" >
                <span class="field-validation-error" tuils-val-for="LastName"></span>
            </div>*@
        <div class="inputs" tuils-for="establecimiento" style="display:none">
            <input id="txtCompanyName" type="text" placeholder="@T("CreateUser.CompanyName")">
            <span class="field-validation-error" tuils-val-for="CompanyName"></span>
        </div>

        <div class="inputs">
            <input id="txtEmail" type="text" placeholder="@T("CreateUser.Email")">
            <span class="field-validation-error" tuils-val-for="Email"></span>
        </div>
        <div class="inputs">
            <input id="txtPassword" type="password" placeholder="@T("CreateUser.Password")">
            <span class="field-validation-error" tuils-val-for="Password"></span>
        </div>
        <div class="terminos">
            <input type="checkbox" id="chkTerms" />
            <span>Acepto <a href="/condiciones-de-uso" target="_blank">terminos y condiciones</a></span>
            <span class="field-validation-error" tuils-val-for="TermsOfUse"></span>
        </div>
        <input id="btnCreateUser" type="button" value="@T("CreateUser.Save")" class="button-1 btn_register" />

    </form>
    <div class="external-authentication">
        @Html.Action("ExternalMethods", "ExternalAuthentication", new { BlankWindow = true, ReturnUrl = Url.Action("Close", "Home") })
    </div>
    <a id="btnBack" href="javsacript:void(0);" class="rgt-login">@T("CreateUser.Back")</a>
</div>

