@{
    Layout = null;
}

<div class="modal registration-modal">
    <form>
        <div>{{MessageLogin}}</div>
        
        <div class="inputs">
            <input id="txtEmail" type="text" placeholder="@T("Login.Email")">
            <span class="field-validation-error" tuils-val-for="Email"></span>
        </div>
        <div class="inputs">
            <input id="txtPassword" type="password" placeholder="@T("Login.Password")">
            <span class="field-validation-error" tuils-val-for="Password"></span>
        </div>
        <input id="btnLogin" type="button" value="@T("Login.ButtonLogin")" class="button-1 btn_register" />
        
    </form>
    <div class="external-authentication">
        @Html.Action("ExternalMethods", "ExternalAuthentication", new { BlankWindow = true, ReturnUrl = Url.Action("Close", "Home") })
    </div>
    <a id="btnRegister" class="rgt-login" href="javascript:;">@T("Login.RegisterButton")</a>
    <div class="rgt-login">
        @Html.ActionLink(T("Account.Login.ForgotPassword").Text, "PasswordRecovery", "Customer")
    </div>

</div>
