@using Nop.Web.Framework.UI
@model Nop.Plugin.ExternalAuth.Facebook.Models.LoginFacebookOptionsModel
@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/ExternalAuth.Facebook/Content/facebookstyles.css");    
}
<a href="@Url.RouteUrl("Plugin.ExternalAuth.Facebook.Login", new { ReturnUrl = Model.ReturnUrl })" class="fb-btn" target="@(Model.BlankWindow ? "_blank" : "_self")" >Entrar con facebook</a>
@*<fieldset class="facebook-login-block">
    <legend>@T("Plugins.ExternalAuth.Facebook.Login")</legend>
    <a href="@Url.RouteUrl("Plugin.ExternalAuth.Facebook.Login", new { ReturnUrl = Model.ReturnUrl })" class="facebook-btn" target="@(Model.BlankWindow ? "_blank" : "_self")" >Entrar con facebook</a>
</fieldset>*@
