@{
    Layout = null;
}
@model Nop.Plugin.Payments.PayUExternal.Models.PaymentResponseModel

<div class="conte_planConfirm">
    <span class="icon-alert"></span>
    <div class="plan-confirm">
        <h2>@T("Plugins.PayUExternal.PaymentResponse.Error")</h2>
        <h4>@Model.SelectedPlanName</h4>
        <ul>
            <li>@T("Plugins.PayUExternal.PaymentResponse.ReferenceCode"): <b>@Model.ReferenceCode</b></li>  
            <li>@T("Plugins.PayUExternal.PaymentResponse.State"): @Model.State</li>
            <li>@T("Plugins.PayUExternal.PaymentResponse.TransactionDate"): @Model.TransactionDate</li>
            @*<li>Dirección: Calle 30 b sur # 8a - 13</li>*@
        </ul>
        <div class="conte_btn">
            @Html.ActionLink(T("Plugins.PayUExternal.TryAgain").Text, "SelectPlan", "Sales", Model.ProductId > 0 ? (object)new { id = Model.ProductId, plan = Model.SelectedPlanId } : (object)new { plan = Model.SelectedPlanId }, new { @class = "button-1 btnBack left" })
            @if (Model.ProductId > 0)
            { 
                @Html.ActionLink(T("Plugins.PayUExternal.ContinueWithoutPlan").Text, "ConfirmationWithoutPlan", "Sales", new { id = Model.ProductId } , new { @class = "button-1 left" })
            }
        </div>
    </div>
    <br />
</div>