@model Nop.Web.Models.Sales.PublishProductModel


<form class="content-public">

    <div class="title">@T("PublishProduct.StepMenu2_Bike")</div>


    <div class="form-public">
           @Html.Partial("_CommonFieldsProductBikeDetail", Model)  
        <div class="inputs" title="@T("PublishProduct.Kms.Alt")">
            @Html.LabelT("PublishProduct.Kms")
            <input id="txtKms" type="text" tuils-val="int" maxlength="10" />
            @ShowRequired("Kms")
        </div>
        <div class="inputs" title="@T("PublishProduct.Year.Alt")">
            @Html.LabelT("PublishProduct.Year")
            <select id="ddlYear">
                <option selected>-</option>
                @for (int i = DateTime.Now.Year; i > 1990; i--)
                {
                    <option>@i</option>
                }
            </select>
            @ShowRequired("Year")
        </div>
        <div class="inputs" title="@T("PublishProduct.CarriagePlate.Alt")">
            @Html.LabelT("PublishProduct.CarriagePlate")
            <input id="txtCarriagePlate" type="text" placeholder="@T("PublishProduct.CarriagePlateExample")" maxlength="7" />
            @ShowRequired("CarriagePlate")
        </div>
        
        

        @*<div class="inputs" title="@T("PublishProduct.Color.Alt")">
            @Html.LabelT("PublishProduct.Color")
            @Html.DropDownList("ddlColor", Model.ColorOptions, "-")
            
        </div>
        <div class="inputs" title="@T("PublishProduct.Condition.Alt")">
            @Html.LabelT("PublishProduct.Codition")
            @Html.DropDownList("ddlCondition", Model.ConditionOptions, "-")
            
        </div>*@
        <div class="inputs" title="@T("PublishProduct.StateProvince.Alt")">
            @Html.LabelT("PublishProduct.StateProvince")
            @Html.DropDownList("ddlStateProvince", Model.StateProvinces, "-")
            @ShowRequired("StateProvince")
        </div>

            <br />
        </div>
    <br />
    <div class="title" title="@T("PublishProduct.NegotiationOptions.Alt")">@T("PublishProduct.NegotiationOptions")</div>
    <div class="form-public">
        @foreach (var condition in Model.NegotiationOptions)
        {
            <div class="input_check">
                <input type="checkbox" name="Negotiation" value="@condition.Id" tuils-name="@condition.Name">
                <label>@condition.Name</label>
            </div>
        }
    </div>
    <br />
    <div class="title" title="@T("PublishProduct.AccesoriesOptions.Alt")">@T("PublishProduct.AccesoriesOptions")</div>
    <div class="form-public">
        @foreach (var accesory in Model.AccesoriesOptions)
        {
            <div class="input_check">
                <input type="checkbox" name="Accesories" value="@accesory.Id" tuils-name="@accesory.Name">
                <label>@accesory.Name</label>
            </div>
        }
    </div>
    <br />
    <div class="title" >@T("PublishProduct.Product.Html")</div>
    <div class="descript_crea" >
        @Html.TextAreaRequired("FullDescription", labelText: string.Empty, controlHtmlAttributes: new { maxLength = 500 }, showAsterisk: false)
    </div>

</form>
<div class="conte_btnDoble">
    <input type="button" class="btn_continue button-1 btnNext" value="@T("PublishProduct.NextStep")">
    <input type="button" class="btn_continue button-1 btnBack" value="@T("PublishProduct.BackStep")">
    <br/>
</div>
@helper ShowRequired(string fieldName)
{
    <span class="required">*</span>
    <div class="text-character"></div>
    <span class="field-validation-error" tuils-val-for="@fieldName"></span>
}
