@model Nop.Web.Models.Sales.PublishProductModel



<div class="inputs" title="@T("PublishProduct.ProductTitle.Alt")">
    @Html.LabelT("PublishProduct.ProductTitle")
    <input id="txtName" type="text" placeholder="@T("PublishProduct.TitleExample")" />
    @ShowRequired("Name")
</div>



<div class="inputs" title="@T("PublishProduct.Price.Alt")">
    @Html.LabelT("PublishProduct.Price")
    <input id="txtPrice" type="text" tuils-val="int" placeholder="@T("PublishProduct.PriceExample")" maxlength="8" />
    @ShowRequired("Price")
</div>

@if (Model.ProductType == Nop.Web.Controllers.ProductTypePublished.Product)
{
    <div class="inputs" title="@T("PublishProduct.IsNew.Alt")">
        @Html.LabelT("PublishProduct.IsNew")
        <select id="ddlIsNew">
            <option>-</option>
            <option value="true">Nuevo</option>
            <option value="false">Usado</option>
        </select>
        @ShowRequired("IsNew")
    </div>
}



@helper ShowRequired(string fieldName)
{
    <span class="required">*</span>
    <div id="addMessage@(fieldName)" class="text-character"></div>
    <span class="field-validation-error" tuils-val-for="@fieldName"></span>
}