@model Nop.Web.Models.Sales.PublishProductModel


<form class="content-public">

    <div class="title">@T("PublishProduct.StepMenu2")</div>


    <div class="form-public">
        
        @Html.Partial("_CommonFieldsProductBikeDetail", Model)

        <div class="inputs">
            @Html.LabelT("PublishProduct.Manufacturer")
            <select id="ddlManufacturerId"></select>
            <span class="required">*</span>
            <div class="text-character"></div>
            <span class="field-validation-error" tuils-val-for="ManufacturerId"></span>
        </div>
        
        <br />
        <div class="inputs">
            <input id="chkIsShipEnabled" type="checkbox" /> @Html.Label(@T("PublishProduct.HasShipping").Text)
        </div>
        <div class="inputs" tuils-for="shipping">
            @Html.LabelT("PublishProduct.ShippingValue")
            <input id="txtAdditionalShippingCharge" type="text" tuils-val="int" placeholder="@T("PublishProduct.PriceExample")" />
            <span class="required">*</span>
            <div class="text-character"></div>
            <span class="field-validation-error" tuils-val-for="AdditionalShippingCharge"></span>
        </div>
        <div class="tipo-marca">
            @Html.LabelT("PublishProduct.Product.ForBrandBike")
            <input id="txtBikeReferencesProduct" />
        </div>
        <br />
    </div>
    <div class="title">@T("PublishProduct.Product.Html")</div>

    <div id="divProductHtml" class="form-public">
        @Html.Partial("_TextEditor", "productHtml")
        <div class="text-character"></div>
        <span class="field-validation-error" tuils-val-for="FullDescription"></span>
    </div>

</form>
<input type="button" class="btn_continue button-1 btnNext" value="@T("PublishProduct.NextStep")">
<input type="button" class="btn_continue button-1 btnBack" value="@T("PublishProduct.BackStep")">