@model Nop.Web.Models.Sales.PublishProductModel

<div style="border:solid 1px black">
    <div>
        @T("PublishProduct.ProductTitle") : <input id="txtName" type="text" />
    </div>
    <div>
        @T("PublishProduct.Manufacturer") : <select id="ddlManufacturerId"></select>
    </div>
    <div>
        @T("PublishProduct.HasShipping") : <input id="chkIsShipEnabled" type="checkbox" />
    </div>
    <div tuils-for="shipping">
        @T("PublishProduct.ShippingValue") : $ <input id="txtAdditionalShippingCharge" type="text" tuils-val="int" />
    </div>
    <div>
        @T("PublishProduct.Price") :  $ <input id="txtPrice" type="text" tuils-val="int" />
    </div>
    <div>
        @T("PublishProduct.Product.ForBrandBike") : <input id="txtBikeReferencesProduct"  />           
    </div>
    <div id="divProductHtml">
        @T("PublishProduct.Product.Html") : @Html.Partial("_TextEditor", "productHtml")
    </div>

    <a class="btnNext" href="javascript:void(0)">@T("PublishProduct.NextStep")</a>
    <a class="btnBack" href="javascript:void(0)">@T("PublishProduct.BackStep")</a>
</div>