@model Nop.Web.Models.Sales.PublishProductModel


<form class="content-public">

    <div class="title">@T("PublishProduct.StepMenu2")</div>


    <div class="form-public">
        
        @Html.Partial("_CommonFieldsProductBikeDetail", Model)

        <div class="inputs">
            @Html.LabelT("PublishProduct.Manufacturer")
            <select id="ddlManufacturerId"></select>
            <span class="required">*</span>
            <div class="text-character"></div>
            <span class="field-validation-error" tuils-val-for="ManufacturerId"></span>
        </div>
        <div class="input_check">
            <input id="chkIsShipEnabled" type="checkbox" /> @Html.Label(@T("PublishProduct.HasShipping").Text)
        </div>
        <br/>
        @*<div class="inputs" tuils-for="shipping">
            @Html.LabelT("PublishProduct.ShippingValue")
            <input id="txtAdditionalShippingCharge" type="text" tuils-val="int" placeholder="@T("PublishProduct.PriceExample")" />
            <span class="required">*</span>
            <div class="text-character"></div>
            <span class="field-validation-error" tuils-val-for="AdditionalShippingCharge"></span>
        </div>*@
        <div class="input_check" title="@T("PublishProduct.HasSpecialBikes.Alt")">
            <input id="chkHasSpecialBikes" type="checkbox" /> @Html.Label(@T("PublishProduct.HasSpecialBikes").Text)
        </div>
        <br />
        <div id="divBikeReferences" style="display:none">
            <div class="title">@T("PublishProduct.Product.TitleForBrandBike")</div>
            <div class="tipo-marca">
                @Html.LabelT("PublishProduct.Product.ForBrandBike")
                <input id="txtBikeReferencesProduct" />
            </div>
        </div>
        <br />
    </div>
    <div class="descript_crea">
        @Html.TextAreaRequired("FullDescription", labelResource: "PublishProduct.Product.Html", controlHtmlAttributes: new { maxLength = 500 })
    </div>
</form>
<input type="button" class="btn_continue button-1 btnNext" value="@T("PublishProduct.NextStep")">
<input type="button" class="btn_continue button-1 btnBack" value="@T("PublishProduct.BackStep")">