@model Nop.Web.Models.Sales.PublishProductModel


@Html.ActionLink("< Volver atrás", "Index", null, new { @class = "btn_volver" })

@functions{
    public string GetClassByType(Nop.Web.Controllers.ProductTypePublished type)
    {
        switch (type)
        {
            case Nop.Web.Controllers.ProductTypePublished.Product:
                return "hub-std";
            case Nop.Web.Controllers.ProductTypePublished.Service:
                return "hub-srv";
            case Nop.Web.Controllers.ProductTypePublished.Bike:
                return "hub-mot";
            default:
                return "hub-std";
        }
    }
}
<p class="wizard-help">Elige qué quieres vender</p>
<nav class="nav-category">
    <li class="category-view cat_select @GetClassByType(Model.ProductType)"><span class="icon-casco"></span><p>@Model.SubSectionTitle</p></li>
</nav>
<div class="divShowCategories category-container">

</div>
<input type="button" class="btn_continue button-1" value="Continuar" style="display:none">

@if (Model.IsMobileDevice)
{
    <script id="templateCategorySelector" type="text/x-handlebars-template">
        <div class="category-column">
            <select tuils-level="{{currentLevel}}" tuils-level='{{currentLevel}}'>
                {{#if ChildrenCategories.length }}
                <option value="">@T("PublishProduct.SelectCategory")</option>
                {{#each ChildrenCategories}}
                <option value="{{Id}}">{{Name}}</option>
                {{/each}}
                {{/if}}
            </select>
        </div>
    </script>
}
else
{
    <script id="templateCategorySelector" type="text/x-handlebars-template">
        <div class="category-column">
            <ul class="divCategorySelector" tuils-level="{{currentLevel}}">
                {{#if ChildrenCategories.length }}
                <input type="text" placeholder="@T("PublishProduct.SelectCategoryFilter")" />
                {{#each ChildrenCategories}}
                <li tuils-id="{{Id}}" tuils-filter="{{toLowerCase Name}}" tuils-level='{{../currentLevel}}' title="Selecciona {{Name}}">{{Name}}</li>
                {{/each}}
                {{/if}}
            </ul>
        </div>
    </script>
}


