    
@{
    ViewBag.Title = "ConfirmationWithoutPlan";
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

@model Nop.Web.Models.Sales.ConfirmationWithoutPlanModel

    <div class="imgPublicada">
        <img src="@Model.ProductDetails.DefaultPictureModel.ImageUrl" />
    </div>
    <div class="resumen-final">
        <h2>@T("PublishProduct.PublishFinished")</h2>
        <h3>@Model.ProductDetails.Name </h3>
        <h4>@Model.ProductDetails.ProductPrice.Price</h4>
        <p>@T("PublishProduct.TimeOutPost", Model.LimitDaysOfProductPublished)</p>
        @Html.ActionLink(T("SelectFeaturedAttributesByPlan.gotoMyProducts").Text, "MyProducts", "ControlPanel")
    </div>


