@model Nop.Web.Models.Sales.ConfirmationWithoutPlanModel
@{
    ViewBag.Title = "ConfirmationWithoutPlan";
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(T(string.Concat("PageTitle.ConfirmationWithoutPlan", Model.VendorType)).Text);
    Html.AddHeadFacebookPixel("AddToCart");   
}


    
    <div class="imgPublicada">
        <span class="icon-check"></span>
        <img src="@Model.ProductDetails.DefaultPictureModel.ImageUrl" />
    </div>
    <div class="resumen-final">
        <h2>@T(string.Concat("PublishProduct.PublishFinished", Model.VendorType))</h2>
        <div class="confi_txt">@T("PublishProduct.TimeOutPost" + Model.VendorType, Model.LimitDaysOfProductPublished)</div>
        @*<h4>Datos del producto:</h4>
        <p>@Model.ProductDetails.Name <b>@(Model.ProductDetails.ProductPrice.CallForPrice ? T("Products.CallForPrice").Text : Model.ProductDetails.ProductPrice.Price)</b></p>*@
        @Html.ActionLink(T("SelectFeaturedAttributesByPlan.finish").Text, "MyProducts", "ControlPanel", new { p = false }, new { @class="btn_continue button-1 btnNext"})
        <br/>
    </div>
    <br/>
    <div class="comparte_fb">
            @if (!Model.IsMobileDevice)
            { 
                <text>
                    <h3>@T("PublishProduct.ShareFriends.Title")</h3>
                    <p>@T("PublishProduct.ShareFriends.Content")</p>
                    
                </text>
                @Html.Partial("_InviteFacebookFriends", new Nop.Web.Models.Common.InviteFacebookFriendsModel() { UrlToShare = "http://www.tuils.com", TextButton = T("PublishProduct.ShareFriends.Button").Text });
            }
        </div>