@model Nop.Web.Models.Sales.ConfirmationWithoutPlanModel
@{
    ViewBag.Title = "ConfirmationWithoutPlan";
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(T(string.Concat("PageTitle.ConfirmationWithoutPlan", Model.VendorType)).Text);
    Html.AddHeadFacebookPixel("AddToCart");   
}



    <div class="imgPublicada">
        <img src="@Model.ProductDetails.DefaultPictureModel.ImageUrl" />
    </div>
    <div class="resumen-final">
        <h2>@T(string.Concat("PublishProduct.PublishFinished", Model.VendorType))</h2>
        <h3>@T("PublishProduct.TimeOutPost" + Model.VendorType, Model.LimitDaysOfProductPublished)</h3>
        <h3>@Model.ProductDetails.Name </h3>

        <h4>@(Model.ProductDetails.ProductPrice.CallForPrice ? T("Products.CallForPrice").Text : Model.ProductDetails.ProductPrice.Price)</h4>

        @Html.ActionLink(T("SelectFeaturedAttributesByPlan.gotoMyProducts").Text, "MyProducts", "ControlPanel", new { p = false }, new { })

    </div>
    <br/>
    <div class="comparte_fb">
            @if (!Model.IsMobileDevice)
            { 
                <text>
                    <h3>@T("PublishProduct.ShareFriends.Title")</h3>
                    <p>@T("PublishProduct.ShareFriends.Content")</p>
                    
                </text>
                @Html.Partial("_InviteFacebookFriends", new Nop.Web.Models.Common.InviteFacebookFriendsModel() { UrlToShare = "http://www.tuils.com", TextButton = T("PublishProduct.ShareFriends.Button").Text });
            }
        </div>