@model Nop.Web.Models.Sales.SelectPublishCategoryModel
@using Nop.Core.Domain.Seo;
@{
    Html.AddTitleParts(T("PageTitle.Publish").Text);
    Html.AddMetaDescriptionParts(T("Publish.MetaDescription").Text);
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

}
@Html.Partial("_OpenGraph", "Url_OG_ImageSellBike")

<div class="master-wrapper-page container hd">
    <div class="master-wrapper-content">
        <div class="master-wrapper-main">            
            <div class="product-public">
                <ol class="wizard-breadcrumb">
                    <li id="btnPublishProductStep1" class="wizard-current"><b>PASO 1</b><div>@T("PublishProduct.StepMenu1")</div></li>
                    <li id="btnPublishProductStep2" class="wizard-step"><b>PASO 2</b><div>@T("PublishProduct.StepMenu2")</div></li>
                    <li id="btnPublishProductStep3" class="wizard-step"><b>PASO 3</b><div>@T("PublishProduct.StepMenu3")</div></li>
                    <li id="btnPublishProductStep4" class="wizard-step"><b>PASO 4</b><div>@T("PublishProduct.StepMenu4")</div></li>
                    <br />
                </ol>
                @if (Model.HasReachedLimitOfProducts)
                { 
                    <div class="alert-public"><span class="icon-alert"></span> <p>@T(string.Concat("PublishProduct.HasReachedLimitOfProducts", Model.VendorType), Model.NumLimitOfProducts)</p><br/></div>
                }
                else
                {
                    <div class="alert-public">@Html.Raw(T("PublishProduct.MessageFree")). @T("PublishProduct.MessageFreeStep1")<br /></div>
                }
                
                <p class="wizard-help">Elige qué quieres vender</p>
                <nav class="nav-category">
                    <a href="@Url.Action("PublishProduct")" title="@T("Publish.Bike.Img.Alt")"><li class="hub-std"><span class="icon-casco"></span><p>productos</p></li></a>
                    @if (Model.CanSelectService)
                    {
                        <a href="@Url.Action("PublishProductService")" title="@T("Publish.Service.Img.Alt")"><li class="hub-srv"><span class="icon-tool"></span><p>servicios</p></li></a>
                    }
                    <a href="@Url.Action("PublishProductBike")" title="@T("Publish.Product.Img.Alt")"><li class="hub-mot"><span class="icon-deportiva"></span><p>motos</p></li></a>
                </nav>
                <br />
            </div>
        </div>
    </div>
</div>


