@model Nop.Web.Models.Sales.PublishProductModel
@using Nop.Core.Domain.Seo;

@{
    if (Model.ProductType == Nop.Web.Controllers.ProductTypePublished.Bike)
    {
        Html.AddTitleParts(T("PageTitle.Publish.Bike").Text);
        Html.AddMetaDescriptionParts(T("Publish.Bike.MetaDescription").Text);
    }
    else if (Model.ProductType == Nop.Web.Controllers.ProductTypePublished.Service)
    {
        Html.AddTitleParts(T("PageTitle.Publish.Service").Text);
        Html.AddMetaDescriptionParts(T("Publish.Service.MetaDescription").Text);
    }
    else
    {
        Html.AddTitleParts(T("PageTitle.Publish.Product").Text);
        Html.AddMetaDescriptionParts(T("Publish.Product.MetaDescription").Text);
    }


    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AppendCssFileParts("~/Content/tagit/jquery.tagit.css");
}

@Html.Partial("_OpenGraph", string.Concat("Url_OG_ImageSell", Model.ProductType.ToString()))

<div id="divMainSection">
    <div class="master-wrapper-page container hd">
        <div class="master-wrapper-content">
            <div class="master-wrapper-main">
                <div class="product-public">
                    <ol class="wizard-breadcrumb">

                        <li id="btnPublishProductStep1" data-id="1" class="wizard-current"><b>PASO 1</b><div>@T("PublishProduct.StepMenu1")</div></li>
                        <li id="btnPublishProductStep2" data-id="2" class="wizard-step"><b>PASO 2</b><div>@T("PublishProduct.StepMenu2")</div></li>
                        <li id="btnPublishProductStep3" data-id="3" class="wizard-step"><b>PASO 3</b><div>@T("PublishProduct.StepMenu3")</div></li>
                        <li id="btnPublishProductStep4" data-id="4" class="wizard-step"><b>PASO 4</b><div>@T("PublishProduct.StepMenu4")</div></li>

                        <br />
                    </ol>
                    @if (Model.HasReachedLimitOfProducts)
                    {
                        <div class="alert-public"><span class="icon-alert"></span> <p>@T(string.Concat("PublishProduct.HasReachedLimitOfProducts", Model.VendorType), Model.NumLimitOfProducts)</p><br /></div>
                    }
                    else
                    {
                        <div class="alert-public">
                            @Html.Raw(T("PublishProduct.MessageFree")).
                        <span id="helpStep" class="helpStepPublish">@T("PublishProduct.MessageFreeStep2")</span>
                        <br />
                    </div>

                        <script>
                            window.stepMessages = {
                                step1: '@T("PublishProduct.MessageFreeStep2")',
                                step2: '@T("PublishProduct.MessageFreeStep3")',
                                step3: '@T("PublishProduct.MessageFreeStep4")',
                                step4: '@T("PublishProduct.MessageFreeStep5")'
                            }
                        </script>

                    }


                    <div id="divStep_1">
                        @Html.Partial("_SelectCategory")
                    </div>
                    <div id="divStep_2" style="display:none">

                        @if (Model.ProductType == Nop.Web.Controllers.ProductTypePublished.Bike)
                        {
                            @Html.Partial("_BikeDetail")
                        }
                        else if (Model.ProductType == Nop.Web.Controllers.ProductTypePublished.Product)
                        {
                            @Html.Partial("_ProductDetail")
                        }
                        else
                        {
                            @Html.Partial("_ServiceDetail")
                        }

                    </div>
                    <div id="divStep_3" style="display:none">
                        <div class="title">@T("PublishProduct.SelectImagesDescription")</div>
                        <div class="fbBrowserError" style="display:none;">
                            <span class="icon-img"></span>
                            <b class="icon-close"></b>
                            @T("PublishProduct.ErrorBrowserFacebook")
                        </div>
                        @Html.Partial("_ImageSelector")
                        <div class="conte_btnDoble">
                            <input type="button" class="btn_continue button-1 btnNext" value="@T("PublishProduct.NextStep")">
                            <input type="button" class="btn_continue button-1 btnBack" value="@T("PublishProduct.BackStep")">
                        </div>
                    </div>
                    <div id="divStep_4" style="display:none">
                        @Html.Partial("_Summary")
                    </div>
                    <div id="divStep_5" style="display:none">
                        <h2>@T("PublishProduct.LoadingLastStep")</h2>
                    </div>
                    <div id="divStep_0" style="display:none">
                        @Html.Partial("_PreviousProductCreated")
                    </div>
                    <br />
                </div>


            </div>
        </div>

    </div>

</div>





