@model Nop.Web.Models.Sales.PublishProductModel
@using Nop.Core.Domain.Seo;

@{
    if(Model.ProductType == Nop.Web.Controllers.ProductTypePublished.Bike)
    {
        Html.AddTitleParts(T("PageTitle.Publish.Bike").Text);
        Html.AddMetaDescriptionParts(T("Publish.Bike.MetaDescription").Text);
    }
    else if (Model.ProductType == Nop.Web.Controllers.ProductTypePublished.Service)
    {
        Html.AddTitleParts(T("PageTitle.Publish.Service").Text);
        Html.AddMetaDescriptionParts(T("Publish.Service.MetaDescription").Text);
    }
    else
    {
        Html.AddTitleParts(T("PageTitle.Publish.Product").Text);
        Html.AddMetaDescriptionParts(T("Publish.Product.MetaDescription").Text);
    }
        
        
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AppendCssFileParts("~/Content/tagit/jquery.tagit.css");

}

<div id="divMainSection">
    <div class="master-wrapper-page container hd">
        <div class="master-wrapper-content">
            <div class="master-wrapper-main">
                <div class="product-public">
                    <ol class="wizard-breadcrumb">

                        <li id="btnPublishProductStep1" data-id="1" class="wizard-current"><b>PASO 1</b><div>@T("PublishProduct.StepMenu1")</div></li>
                        <li id="btnPublishProductStep2" data-id="2" class="wizard-step"><b>PASO 2</b><div>@T("PublishProduct.StepMenu2")</div></li>
                        <li id="btnPublishProductStep3" data-id="3" class="wizard-step"><b>PASO 3</b><div>@T("PublishProduct.StepMenu3")</div></li>
                        <li id="btnPublishProductStep4" data-id="4" class="wizard-step"><b>PASO 4</b><div>@T("PublishProduct.StepMenu4")</div></li>

                        <br />
                    </ol>

                    <div id="divStep_1">
                        @Html.Partial("_SelectCategory")
                    </div>
                    <div id="divStep_2" style="display:none">

                        @if (Model.ProductType == Nop.Web.Controllers.ProductTypePublished.Bike)
                        { 
                            @Html.Partial("_BikeDetail")
                        }
                        else if (Model.ProductType == Nop.Web.Controllers.ProductTypePublished.Product)
                        { 
                            @Html.Partial("_ProductDetail")
                        }
                        else
                        {
                            @Html.Partial("_ServiceDetail")
                        }
                            
                    </div>
                    <div id="divStep_3" style="display:none">
                        <div class="title">@T("PublishProduct.SelectImagesDescription")</div>
                        @Html.Partial("_ImageSelector")
                        <input type="button" class="btn_continue button-1 btnNext" value="@T("PublishProduct.NextStep")">
                        <input type="button" class="btn_continue button-1 btnBack" value="@T("PublishProduct.BackStep")">
                    </div>
                    <div id="divStep_4" style="display:none">
                        @Html.Partial("_Summary")
                    </div>
                    <div id="divStep_5" style="display:none">
                        @Html.Partial("_Finish")
                    </div>
                    <div id="divStep_0" style="display:none">
                        @Html.Partial("_PreviousProductCreated")
                    </div>
                    <br />
                </div>
                
            </div>
        </div>

    </div>

</div>





