@model Nop.Web.Models.Sales.SelectPlanModel
@{
    Html.AddTitleParts(T("PageTitle.SelectPlan").Text);
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

@{
    bool first = true;   
}
<div id="divMainSection">


    @using (Html.BeginForm())
    {
        foreach (var plan in Model.Plans)
        {
            if (first)
            {
                <div>
                    <ul>
                        @foreach (var spec in Model.Plans.Last().Specifications)
                        {
                            <li>@spec.Name</li>
                        }
                    </ul>
                </div>
                        first = false;
            }

            <div>
                <ul>
                    <li><h2>@plan.Name</h2></li>
                    @foreach (var spec in plan.Specifications)
                    {
                        <li>@spec.Value</li>
                    }
                </ul>
            </div>

    <input name="SelectedPlan" type="radio" value="@plan.Id" data-name="@plan.Name" />

        }
        <div id="divAdditionalInfo" style="display:none">
            <table>
                <tr>
                    <td>
                        <div class="inputs" >
                            departamento  @Html.DropDownList("ddlStateProvince", Model.StateProvinces, "-")
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="inputs">
                            ciudad  @Html.TextBoxFor(m => m.CustomerAddressInformation.City)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="inputs">
                            phone number  @Html.TextBoxFor(m => m.CustomerAddressInformation.PhoneNumber)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        direccion   @Html.TextBoxFor(m => m.CustomerAddressInformation.Address)

                        @Html.HiddenFor(m => m.CustomerAddressInformation.AddressId)
                    </td>
                </tr>
            </table>
        </div>


    <input id="merchantId" name="merchantId" type="hidden" value="">
    <input id="referenceCode" name="referenceCode" type="hidden" value="">
    <input id="amount" name="amount" type="hidden" value="">
    <input id="accountId" name="accountId" type="hidden" value="">
    <input id="signature" name="signature" type="hidden" value="">
    <input id="currency" name="currency" type="hidden" value="">
    <input id="responseUrl" name="responseUrl" type="hidden" value="">
    <input id="confirmationUrl" name="confirmationUrl" type="hidden" value="">
    <input id="extra1" name="extra1" type="hidden" value="@Model.ProductId">


        <input name="tax" type="hidden" value="0">
        <input name="taxReturnBase" type="hidden" value="0">
        

        <input id="description" name="description" type="hidden" value="Nombre del plan que se desea comprar">
        <input name="buyerEmail" type="hidden" value="@Model.CustomerInformation.Email">
        <input name="payerFullName" type="hidden" value="@Model.CustomerInformation.FullName">
        <input name="mobilePhone" type="hidden" value="@Model.CustomerInformation.PhoneNumber">

        <input name="test" type="hidden" value="1">


        <a href="/" id="btnContinue" style="display:none">Continuar</a>
        <input id="btnPay" name="Submit" type="button" value="Pagar" style="display:none">


    }

</div>