@model Nop.Web.Models.Catalog.VendorModel
@{
    Layout = null;
}
<div id="divMainCover" data-pos="@Model.BackgroundPosition" data-path="@Model.BackgroundPicture.ImageUrl">

    <div class="coverPerfil" style="background-image: url(@Model.BackgroundPicture.ImageUrl);background-position:center @(Model.BackgroundPosition)%">

        @if (Model.AllowEdit)
        {
            <div class="cover-editor">
                <span class="icon-foto" title="@T("vendor.backgroudPicture.alt")"></span>
                <i>@T("vendor.backgroudPicture")</i>
                <ul class="menu-cover" style="display:none">
                    <li id="btnChangeCover"  title="@T("vendor.backgroudPicture.alt")">@T("vendor.backgroudPicture")</li>
                    <li id="btnMoveCover" title="@T("vendor.movecover.alt")">@T("vendor.movecover")</li>
                    <li id="btnSaveCoverPosition" title="@T("vendor.save")" style="display:none">@T("vendor.save")</li>
                    @*<li>Eliminar</li>*@
                </ul>
            </div>
        }
        <div class="grad_cv"></div>
    </div>
</div>
<div class="conte_perfil">
    <div class="container hd">
        <div class="pos-perfil">

            <div class="img_perfil">
                @if (Model.AllowEdit)
                {
                    <div class="cover-editor">
                        <span class="icon-foto"></span>
                        <i>@T("vendor.profilepicture")</i>

                    </div>

                    <input type="file" style="display:none" />

                }
                <img alt="@Model.Picture.AlternateText" src="@Model.Picture.ImageUrl" title="@Model.Picture.Title" />
            </div>


            <div class="tit-perfil">
                <h2 tuils-for="show">@Model.Name</h2>
                @if (Model.AllowEdit)
                {
                    @Html.TextBoxFor(m => m.Name, new { style = "display:none", tuils_for = "edit", maxLength = "80" })
                }
                <div class="product-review-box">
                    <div class="rating no-margin">
                        <div style="width: @(Model.AvgRating * 20)%">
                            <a href="/productreviews/3"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pr-perfil">
                <p tuils-for="show">
                    @if (Model.AllowEdit && string.IsNullOrEmpty(Model.Description))
                    {
                        @T("vendor.noEditedDescription")
                    }
                    else
                    {
                        if(string.IsNullOrEmpty(Model.Description))
                        {

                            <span class="phone_initial"><i class="icon-tel"></i> <span>@Model.PhoneNumber</span><br/></span>
                        }
                        else
                        {
                          @Model.Description
                        }

                   }    
                </p>
                @if (Model.AllowEdit)
                {
                    @Html.TextAreaFor(m => m.Description, new { style = "display:none", tuils_for = "edit", maxLength = "300" })
                }
                <div class="ctl-tarjetas" tuils-for="show">
                    <li id="liShipping" @(Model.EnableShipping ? string.Empty : "style=display:none") title="@T("vendor.enableShipping.description")">@T("vendor.enableShipping") <span class="icon-envio"></span></li>
                    <li id="liCreditCard" @(Model.EnableCreditCardPayment ? string.Empty : "style=display:none") title="@T("vendor.enableCreditCard.description")">@T("vendor.enableCreditCard") <span class="icon-card"></span></li>
                    <br />
                </div>
                @if (Model.AllowEdit)
                {
                    <div class="ctl-switch" style="display:none" tuils-for="edit">
                        <div class="txt_switch">@T("vendor.enableShipping")</div>
                        @Html.FlipSwitchFor(m => m.EnableShipping)
                        <div class="txt_switch">@T("vendor.enableCreditCard")</div>
                        @Html.FlipSwitchFor(m => m.EnableCreditCardPayment)
                    </div>
                }
                <ul class="items-ctl">
                    <li>Productos<span><b>@Model.TotalActiveProducts</b></span></li>
                    <li>Ventas<span><b>@Model.TotalSoldProducts</b></span></li>
                    <br />
                </ul>
                <div class="btpfl">
                    @if (Model.AllowEdit)
                    {
                        <div id="btnEditVendorHeader" class="button-1 btn_perfil" title="@T("vendor.edit.alt")" tuils-textedit="@T("vendor.edit")" tuils-textsave="@T("vendor.save")">@T("vendor.edit")</div>
                    }
                    else
                    {
                        @*<a href="#infoContacto" class="button-1 btn_perfil">@T("vendor.contactus")</a>*@
                        @*<a class="button-1 btn_perfil">@T("vendor.rateUs")</a>*@
                    }
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
