@model SearchModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text);
}
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;

@*<script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.As)").click(toggleAdvancedSearch);

            toggleAdvancedSearch();
        });

        function toggleAdvancedSearch() {

            if ($('#@Html.FieldIdFor(model => model.As)').is(':checked')) {
                $('#advanced-search-block').show();
            }
            else {
                $('#advanced-search-block').hide();
            }
        }
    </script>*@
<div id="divMainSection">


    @section left {

        <div class="filters-main">
            <div class="product-filters-wrapper">
                <h2 class="tit_fil"><i class="icon-mail"></i>FILTRAR POR <span class="icon-close"></span></h2>
                <ul class="filter-result">
                    <li>Moto <span class="icon-close"></span></li>
                    <li>Moto <span class="icon-close"></span></li>
                    <li>Moto <span class="icon-close"></span></li>
                    <br/>
                </ul>
                <ul class="product-filters">
                    <div class="filter-title">CATEGORIA</div>
                    <li><a href="javascript:;">Moto <span class="fil_cant">4</span></a></li>
                    <li><a href="javascript:;">Casco <span class="fil_cant">4</span></a></li>
                </ul>
                <ul class="product-filters">
                    <div class="filter-title">marca</div>
                    <li><a href="javascript:;">KTM <span class="fil_cant">4</span></a></li>
                    <li><a href="javascript:;">Yamaha <span class="fil_cant">4</span></a></li>
                </ul>
                <ul class="product-filters">
                    <div class="filter-title">ubicación</div>
                    <li><a href="javascript:;">Bogotá <span class="fil_cant">4</span></a></li>
                    <li><a href="javascript:;">Cali <span class="fil_cant">4</span></a></li>
                    <li><a href="javascript:;">Medellin <span class="fil_cant">4</span></a></li>
                    <a href="javascript:;" class="qcat-more-filters"><b>Más opciones</b> <span class="icon-down"></span></a>
                </ul>
                <ul class="product-filters">
                    <div class="filter-title">RANGO DE PRECIO</div>
                    <div class="filt-inputs">
                        <input type="text" placeholder="Desde" /> &#45;
                        <input type="text" placeholder="Hasta" />
                        <a href="javascript:;" class="btn_fil icon-next"></a>
                    </div>
                    <li><a href="javascript:;">$5.000 - $38.000</li>
                    <li><a href="javascript:;">$38.000 - $50.000</li>
                    <li><a href="javascript:;">$50.000 - $75.000</li>
                    <li><a href="javascript:;">Sobre $75.000</li>
                </ul>


                @if (Model.PagingFilteringContext.CategoryFilter.Enabled)
                {
                    @Html.Partial("_FilterCategoryBox", Model.PagingFilteringContext.CategoryFilter, new ViewDataDictionary())
                }
                @if (Model.PagingFilteringContext.StateProvinceFilter.Enabled)
                {
                    @Html.Partial("_FilterStateProvinceBox", Model.PagingFilteringContext.StateProvinceFilter, new ViewDataDictionary())
                }
                @if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
                {
                    @Html.Partial("_FilterSpecsBox", Model.PagingFilteringContext.SpecificationFilter, new ViewDataDictionary())
                }
                @if (Model.PagingFilteringContext.ManufacturerFilter.Enabled)
                {
                    @Html.Partial("_FilterManufacturerBox", Model.PagingFilteringContext.ManufacturerFilter, new ViewDataDictionary())
                }
                @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
                {
                    @Html.Partial("_FilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter, new ViewDataDictionary())
                }
                @if (Model.PagingFilteringContext.BikeReferenceFilter.Enabled)
                {
                    @Html.Partial("_FilterBikeReferenceBox", Model.PagingFilteringContext.BikeReferenceFilter, new ViewDataDictionary())
                }

            </div>
        </div>
    }
    <div class="page search-page">
        <div class="page-title">
            <h1>@T("Search")</h1>
        </div>
        @if (Model.ShowSimilarSearches)
        { 
            @Html.Action("SimilarSearches")
        }
        
        <div class="page-body">
            <div class="product-selectors">
                @*view mode*@
                @if (Model.PagingFilteringContext.AllowProductViewModeChanging && Model.Products.Count > 0)
                {
                    @*edited*@
                    <div class="product-viewmode">
                        <a rel="nofollow" class="fontawesome-th" href="@Model.PagingFilteringContext.AvailableViewModes.First().Value"></a>
                        <a rel="nofollow" class="fontawesome-reorder" href="@Model.PagingFilteringContext.AvailableViewModes.Last().Value"></a>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('div.product-list').length ? $('.fontawesome-reorder').addClass('active') : $('.fontawesome-th').addClass('active');
                        });
                    </script>
                    @*edited*@

                    @*<div class="product-viewmode">
                            <span>@T("Catalog.ViewMode")</span>
                            @Html.DropDownList("products-viewmode", Model.PagingFilteringContext.AvailableViewModes, new { onchange = "setLocation(this.value);" })
                        </div>*@
                }
                @*sorting*@
                @if (Model.PagingFilteringContext.AllowProductSorting && Model.Products.Count > 0)
                {
                    <div class="product-sorting">
                        <span>@T("Catalog.OrderBy")</span>
                        @Html.DropDownList("products-orderby", Model.PagingFilteringContext.AvailableSortOptions, new { onchange = "setLocation(this.value);" })
                    </div>
                }
                @*page size*@
                    @*@if (Model.PagingFilteringContext.AllowCustomersToSelectPageSize && Model.Products.Count > 0)
                        {
                            <div class="product-page-size">
                                <span>@T("Catalog.PageSize")</span>
                                @Html.DropDownList("products-pagesize", Model.PagingFilteringContext.PageSizeOptions, new { onchange = "setLocation(this.value);" })
                                <span>@T("Catalog.PageSize.PerPage")</span>
                            </div>
                        }*@
                </div>
                @*added*@
                @if (Model.PagingFilteringContext.AllowCustomersToSelectPageSize && Model.Products.Count > 0)
                {
                    <div class="product-page-size">
                        <span>@T("Catalog.PageSize")</span>
                        @foreach (var per in Model.PagingFilteringContext.PageSizeOptions)
                        {
                            <a href="@per.Value" rel="nofollow">@per.Text</a>
                        }
                        <span>@T("Catalog.PageSize.PerPage")</span>
                    </div>
                }
                @*@added*@
                <div class="search-results">
                    @if (!String.IsNullOrEmpty(Model.Warning))
                    {
                        <strong class="warning">
                            @Model.Warning
                        </strong>
                    }
                    @if (Model.NoResults)
                    {
                        <strong class="result">
                            @T("Search.NoResultsText")
                        </strong>
                    }
                    @*product list*@
                    @if (Model.Products.Count > 0)
                    {
                        if (Model.PagingFilteringContext.ViewMode == "list")
                        {
                            @*list mode*@
                            <div class="product-list">
                                @foreach (var product in Model.Products)
                                {
                                    <div class="item-box">
                                        @Html.Partial("_ProductBox", product)
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            @*grid mode*@
                            <div class="product-grid">
                                @foreach (var product in Model.Products)
                                {
                                    <div class="item-box">
                                        @Html.Partial("_ProductBox", product)
                                    </div>
                                }
                            </div>
                        }
                    }
                    <div class="pager">
                        @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("as").BooleanParameterName("isc").BooleanParameterName("sid")
                    </div>
                </div>
            </div>
        </div>

    </div>