@model TopMenuModel
@using Nop.Core.Domain
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@using System
@using Nop.Web;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;
@{
    Layout = "";
    Html.AddCssFileParts("~/Scripts/mmenu/css/jquery.mmenu.all.css");
    //Html.AddScriptParts("~/Scripts/mmenu/js/jquery.mmenu.min.js");
}

@helper RenderCategoryLine(CategorySimpleModel category, TopMenuModel.SpecificationAttributeOptionModel attribute)
{
    <li>
        <a title="@category.Name" href="@Url.RouteUrl("Category", new { SeName = category.SeName, specsFilter = attribute.SeName, specs = attribute.Id })">@category.Name</a>
        @{
            if (category.SubCategories.Count > 0)
            {
                <ul>
                    @foreach (var subCategory in category.SubCategories)
                    {
                        @RenderCategoryLine(subCategory, attribute)
                    }
                </ul>
            }
        }
    </li>
}
@if ( Model.Categories.Count > 0)
{
    <div class="headerButtonMenuResponsive">
        <a href="#mainMenu" class="icon-menu"></a>
    </div>
    <div class="nav-menu">
        <nav id="mainMenu" class="mm-menu">
            <ul>

                @foreach (var attribute in Model.SpecificationAttributesFilter)
                {
                    <li data-id="@attribute.Id" >
                        <a class="aFirstLevel"><span class="icon-@attribute.SeName.Replace("-", "_")"></span><span class="tooltip-menu">@attribute.Name</span></a>
                        <ul class="childrenOptions" style="display:none">
                            @foreach (var category in Model.Categories)
                            {
                                @RenderCategoryLine(category, attribute)
                            }
                            <br />
                        </ul>
                    </li>
                }
                <br/>
            </ul>
        </nav>
    </div>
    @Html.HiddenFor(model => model.SelectedSpecificationAttribute)
    <script>
</script>

}


