@model TopMenuModel
@using Nop.Core.Domain
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@using System
@using Nop.Web;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;
@{
    Layout = "";
    Html.AddCssFileParts("~/Scripts/mmenu/css/jquery.mmenu.all.css");
    Html.AddScriptParts("~/Scripts/mmenu/js/jquery.mmenu.min.all.js");

}

@helper RenderCategoryLine(CategorySimpleModel category, TopMenuModel.SpecificationAttributeOptionModel attribute)
{
    <li>
        <a title="@category.Name" href="@Url.RouteUrl("Category", new { SeName = category.SeName, specsFilter = attribute.SeName, specs = attribute.Id })">@category.Name</a>
        @{
            if (category.SubCategories.Count > 0)
            {
                <ul>
                    @foreach (var subCategory in category.SubCategories)
                    {
                        @RenderCategoryLine(subCategory, attribute)
                    }
                </ul>
            }
        }
    </li>
}
@if ( Model.Categories.Count > 0)
{
    <div class="headerButtonMenuResponsive">
        <a href="#mainMenu" class="icon-menu"></a>
    </div>
    <div class="nav-menu">
        <nav id="mainMenu" class="mm-menu">
            <ul>

                @foreach (var attribute in Model.SpecificationAttributesFilter)
                {
                    <li data-id="@attribute.Id">
                        <a class="aFirstLevel"><span class="icon-@attribute.SeName.Replace("-", "_")"></span><span class="tooltip-menu">@attribute.Name</span></a>
                        <ul class="childrenOptions">
                            @foreach (var category in Model.Categories)
                            {
                                @RenderCategoryLine(category, attribute)
                            }
                            <br />
                        </ul>
                    </li>
                }
                <br/>
            </ul>
        </nav>
    </div>
    
    <script>

    $(document).on("ready", function () {


        function selectDefaultMenuOption()
        {
            var defaultOption = @(Model.SelectedSpecificationAttribute);
            $(".nav-menu .aFirstLevel").removeClass("active");
            $(".nav-menu li[data-id='"+defaultOption+"'] .aFirstLevel").addClass("active");
            $(".nav-menu .childrenOptions").hide();
            $(".nav-menu li[data-id='"+defaultOption+"'] .childrenOptions").show();
        }

        function loadResponsiveMenu()
        {
            var options = {
                // options
                extensions: ["theme-dark"],
                dividers: {
                    fixed: true
                },
                navbar :{
                    title : ''
                },
                navbars: [
                    //{
                    //    position: 'top',
                    //    content: [$("#templateLinksResponsivePublish").html()]
                    //},
                    //{
                    //    position: 'top',
                    //    content: [$("#templateLinksResponsiveWishList").html()]
                    //},
                    //{
                    //    position: 'top',
                    //    content: [$("#templateLinksResponsiveMyAccount").html()],
                    //    height: 2
                    //},
                    {
                        position: 'bottom',
                        content: [$("#templateLogoutResponsiveMenu").html()]
                    }
                ]
            };

            var $menu = $("#mainMenu").clone();
            $menu.attr("id", "my-mobile-menu");
            $menu.mmenu(options);

            $("#mainMenu").mmenu(options, {
                clone: true
            });

            //agrega las funcionalidades adicionales del menú
            $(".mm-panel:first").prepend($("#templateLinksResponsiveMenu").html());
        }

        function hoverMenu()
        {
            //Funcionalidad de mouse over para ocultar y mostrar los hijos del menú
            $(".nav-menu nav > ul > li").hover(
                function () {
                    $(".nav-menu .childrenOptions").hide();
                    $(this).find(".childrenOptions").show();
                },
                function () {
                    selectDefaultMenuOption();
                }
            );
        }

        function closeMenuOnResizeWindow()
        {
            jQuery(window).resize(function () {
                currentWidth = window.innerWidth || document.documentElement.clientWidth;
                // get browser width
                if (currentWidth > 1024) {
                    $("#mainMenu").data("mmenu").close();
                }
            });
        }

        loadResponsiveMenu();
        hoverMenu();
        selectDefaultMenuOption();
        closeMenuOnResizeWindow();

    });

</script>

}


