@model NewsletterBoxModel
@using Nop.Web.Models.Newsletter;
<div class="block block-newsletter">
    <div class="title">
        <strong>@T("Newsletter.Title")</strong>
    </div>
    <div class="listbox">
        <div id="newsletter-subscribe-block" class="newsletter-subscribe-block">
            <span>@T("Newsletter.Subscribe"):</span>
            <div class="newsletter-email">
            @Html.TextBoxFor(x => x.NewsletterEmail, new { id = "newsletter-email" })
            @Html.ValidationMessageFor(x => x.NewsletterEmail)
            </div>
            <div class="buttons">
                <input type="button" value="@T("Newsletter.Button")" id="newsletter-subscribe-button" class="button-1 newsletter-subscribe-button" />
                <span id="subscribe-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            </div>
</div>
        <div id="newsletter-result-block" class="newsletter-result-block">
        </div>
    </div>
</div>
